//colors
$text-black:    #1a1a1a;
$ctrl-black:    #3d3d4d;
$text-silver:   #909099;
$silver-dark:   #d0d0d9;
$silver:        #e6e6eb;
$silver-light:  #f2f2f4;
$coral-dark:    #e04a3f;
$coral:         #f65145;
$green-dark:    #1db85b;
$green:         #22d66a;

//border color
$border-40:     #999999;
$border-20:     #cccccc;
$border-10:     #e6e6e6;


