.ads-remote {
    @media (max-width: $media-sm) {
        &.show {
            display: flex !important;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
        }
    }
    .modal-dialog {
        display: flex;
        flex-direction: column;
        max-width: 456px;
        height: 100%;
        margin-top: 0;
        @media (max-width: $media-sm) {
            justify-content: flex-end;
            width: 100%;
            max-width: none;
            height: auto;
            margin: auto 0 0;

            .modal-gallery__controls {
                position: absolute;
                z-index: 999;
                top: 0;
                right: 0;
                left: 0;
                margin-bottom: 0;
                padding-top: 16px;
                padding-right: 16px;
                pointer-events: all;
            }
        }
    }

    &__content {
        margin: auto;
        padding: 40px 53px;
        @media (max-width: $media-sm) {
            padding: 72px 32px 40px;
            margin-bottom: 0;
            border-radius: 5px 5px 0 0;
        }
        form {
            display: flex;
            flex-direction: column;

            .btn {
                margin-bottom: 16px;
                padding-top: 18px;
                padding-bottom: 18px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}