
.header {
    padding-top: 20px;
    position: relative;
    border-bottom: 1px solid $border-10;

    @media (max-width: $media-xl) {
        .wrapper {
            width: 100%;
            max-width: none;
            padding: 0 20px;

            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    @media (max-width: $media-lg) {
        .wrapper {
            padding: 0 16px;
        }
    }

    .row {
        align-items: flex-start;
        margin-left: 0;
        margin-right: 0;
    }

    &__logo {
        display: block;
        max-width: 188px;
        margin-right: 6.33%;
        @media (max-width: $media-xl) {
            margin-right: 1.9%;
        }
        @media (max-width: $media-lg) {
            margin-bottom: 16px;
        }
        picture {
            display: block;
        }
        img {
            display: block;
            width: 100%;
        }
    }

    &__nav {
        padding-top: 5px;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
        @media (max-width: $media-lg) {
            order: 1;
            min-width: 100%;
            overflow: auto;
            padding-top: 9px;
            white-space: nowrap;
            padding-left: 16px;
            margin-left: -16px;
            margin-right: -16px;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__menu {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;


        &-item {
            position: relative;
            margin: 0 12px;
            @media (max-width: $media-xl) {
                margin: 0 8px;
            }
            @media (max-width: $media-lg) {
                &:last-of-type {
                    padding-right: 16px;
                }
            }
            &:first-of-type {
                margin-left: 0;
            }
            &:not(.header__menu-item--all) {
                &:after {
                    @include transition();
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    background-color: $coral;
                    opacity: 0;
                }
            }

            &.active, &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }

        &-link {
            display: block;
            font-size: rem(16);
            font-weight: $font-weight-normal;
            line-height: 1.25;
            color: $text-black;
            padding-bottom: 26px;
            &:hover {
                text-decoration: none;
                color: $black;
            }

            &--all {
                width: 24px;
                height: 24px;
                padding-bottom: 0;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    &__search-btn {
        margin-top: 4px;
        display: block;
        margin-left: 12px;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        background-image: url('../img/icons/search-icon-header.svg');
        background-position: center;
        background-size: contain;
        padding: 0;
        @media (max-width: $media-lg) {
            margin-left: auto;
            margin-right: 12px;
        }
    }


    &__user {
        margin-right: 0;
        margin-left: auto;
        position: relative;
        @media (max-width: $media-lg) {
            margin-left: 0;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border: none;
            padding: 0;
            background: none;

            .name {
                font-size: rem(16);
                font-weight: $font-weight-normal;
                line-height: 1.25;
                color: $text-silver;
                @media (max-width: $media-lg) {
                    display: none;
                }
            }

            .avatar {
                display: block;
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 50%;
                margin-left: 8px;
                background-color: $silver;
                @media (max-width: $media-lg) {
                    margin-left: 0;
                }

                img {
                    @include object-fit(cover, center);
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-popup {
            display: none;
            position: absolute;
            z-index: 98;
            top: -20px;
            right: -20px;
            width: 320px;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
            background-color: $white;
            @media (max-width: $media-lg) {
                right: -16px;
            }

            .user-popup__close {
                display: block;
                position: absolute;
                z-index: 2;
                top: 24px;
                right: 24px;
                width: 24px;
                height: 24px;
                border: none;
                padding: 0;
                background: none;

                .icon {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .user-popup__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 32px 20px 28px;
                border-bottom: 1px solid $border-10;

                .avatar {
                    display: block;
                    width: 96px;
                    height: 96px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-bottom: 16px;

                    img {
                        @include object-fit(cover, center);
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .name {
                    font-size: rem(16);
                    font-weight: $font-weight-bold;
                    line-height: 1.25;
                    color: $text-black;
                    text-align: center;
                    margin-bottom: 8px;
                }

                .city {
                    display: inline-block;
                    position: relative;
                    font-size: rem(14);
                    line-height: 1.14;
                    text-align: center;
                    color: $text-silver;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -24px;
                        width: 16px;
                        height: 16px;
                        background-image: url(../img/icons/place-copy.svg);
                    }
                }
            }

            .user-popup__menu {
                //padding: 8px 0 0;

                &-group {
                    padding: 8px 0 8px;
                    border-bottom: 1px solid $border-10;
                    list-style: none;
                    margin-bottom: 0;
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }

                &-item {

                    &--add {
                        a {
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 20px;
                                width: 24px;
                                height: 24px;
                                transform: translateY(-50%);
                                background-image: url(../img/icons/icon-add-green.svg);
                                background-size: contain;
                            }
                        }
                    }

                    a {
                        display: block;
                        padding: 6px 20px;
                        color: $text-black;
                        text-decoration: none;
                        font-size: rem(16);
                        line-height: 1.25;
                        &:hover {
                            background-color: $silver-light;
                        }

                        span {
                            display: inline-block;
                            vertical-align: baseline;
                            color: $text-silver;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
}

.full-menu {
    @include transition();
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 120%;
    left: 0;
    padding: 20px 0 0;
    opacity: 0;
    background-color: $white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);

    .row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-items: stretch;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $media-lg) {
            justify-content: space-between;
        }
    }

    &__close {
        display: flex;
        align-items: center;
        border: none;
        padding: 0;
        background: none;
        font-size: rem(16);
        font-weight: $font-weight-normal;
        line-height: 1.25;
        color: $text-silver;
        @media (max-width: $media-lg) {
            .icon {
                width: 32px;
                height: 32px;
                margin-right: 0;
            }

            span {
                display: none;
            }
        }

        .icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 4px;
            background-size: contain;
            background-position: center;
            @media (max-width: $media-lg) {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__logo {
        max-width: 188px;
        margin-right: 48px;
        @media (max-width: $media-xl) {
            margin-right: 20px;
        }
        img {
            width: 100%;
        }
    }

    &__list {
        padding-top: 44px;
        list-style: none;
        padding-left: 0;
        margin-right: -16px;
        margin-left: -16px;
        display: flex;
        align-items: flex-start;
        @media (max-width: $media-xl) {
            padding-bottom: 32px;
            margin-bottom: 0;
            flex-wrap: wrap;
            margin-left: 0;
            margin-right: 0;
        }
        @media (max-width: $media-lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            column-gap: inherit;
            column-count: inherit;
            padding-bottom: 64px;
            margin-left: -16px;
            margin-right: -16px;
            width: auto;
            .col-12 {
                padding: 0;
            }
        }
    }

    &__col {
        @media (max-width: $media-lg) {
            width: 100%;
            border-bottom: 1px solid $border-10;
            padding: 24px 32px;
            &.full-menu__col--gray {
                border-bottom: none;
                padding: 24px 32px;
            }

            & > .full-menu__item {
                position: relative;
                padding-right: 24px;

                .full-menu__link {
                    display: block;
                    width: 100%;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: -12px;
                        width: 24px;
                        height: 24px;
                        transform: translateY(-50%) rotate(90deg);
                        opacity: .5;
                        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'25\' height=\'24\' viewBox=\'0 0 25 24\'%3E%3Cg fill=\'none\' fill-rule=\'evenodd\'%3E%3Cpath d=\'M.23 0h24v24h-24z\'/%3E%3Cpath stroke=\'%2300000A\' stroke-width=\'1.8\' d=\'M9.23 6l6 6-6 6\'/%3E%3C/g%3E%3C/svg%3E');
                    }

                    &.opening {
                        &:after {
                            transform: translateY(-50%) rotate(-90deg);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    &__group {
        padding: 0;
        list-style: none;
        margin-bottom: 48px;
        @media (max-width: $media-xl) {
            margin-bottom: 32px;
        }
        @media (max-width: $media-lg) {
            display: none;
            margin-bottom: 0;
        }

        &--gray {
            @media(max-width: $media-xl) and (min-width: $media-lg--min) {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                padding-top: 32px;
                border-top: 1px solid $border-10;
                .full-menu__item {
                    margin-bottom: 0;
                    margin-right: 24px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
            .full-menu__link {
                color: $text-silver;
            }
        }
    }

    &__item {
        margin-bottom: 16px;
        @media (min-width: $media-lg--min) and (max-width: $media-xl) {
            margin-bottom: 12px;
        }

        &--gray-mob {
            display: none;
            @media (max-width: $media-lg) {
                display: block;
            }

            .full-menu__link {
                font-weight: $font-weight-bold;
                color: $text-silver;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        & + .full-menu__group {
            margin-top: 16px;
        }
    }

    &__link {
        font-size: rem(16);
        font-weight: $font-weight-normal;
        line-height: 1.25;
        color: $text-black;
        &:hover {
            text-decoration: none;
        }
        &--main {
            font-weight: $font-weight-bold;
        }

        &--select {
            color: $green;
        }
    }
    &.open {
        top: 0;
        bottom: auto;
        opacity: 1;
    }
}