{% extends './layout.html' %}
{% block content %}
    <div class="wrapper">
        <div class="row">
            <div class="col-12">
                {% include 'breadcrumbs/breadcrumbs.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 main-header">
                <h1>Объявления</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <form action="" class="sorting-form">
                    {% include 'select/select.html' %}
                    <select name="" id="" class="selectpicker sorting-form__select select-js">
                        <option value="">Сначала новые</option>
                        <option value="">Сначала дешевле</option>
                        <option value="">Сначала дороже</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row ads-list">
            <div class="col-12">
                <a href="" class="ads-list__item">
                    <div class="ads-list__item-images">
                        <div class="ads-slider">
                            <img class="ads-slider__item" src="img/AA5J7280.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/avatar.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/IMG_9962_4k.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/P1024449.jpg" title="Подушки" alt="Подушки">
                        </div>
                    </div>
                    <div class="ads-list__item-content">
                        <div class="name">Подушки</div>
                        <div class="desc">Цена каждой подушки-250 руб. Подушки- наполнитель- пух-перо, размер 50*50-4 шт., 60*60 - 1 шт. двадцать четыре</div>
                        <div class="info">
                            <div class="date">7 авг</div>
                            <div class="city">Уфа</div>
                        </div>
                    </div>
                    <div class="ads-list__item-price">
                        <div class="price"><b>250</b><span class="price__icon">₽</span></div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <a href="" class="ads-list__item">
                    <div class="ads-list__item-images">
                        <div class="ads-slider">
                            <img class="ads-slider__item" src="img/AA5J7280.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/avatar.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/IMG_9962_4k.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/P1024449.jpg" title="Подушки" alt="Подушки">
                        </div>
                    </div>
                    <div class="ads-list__item-content">
                        <div class="name">Подушки</div>
                        <div class="desc">Цена каждой подушки-250 руб. Подушки- наполнитель- пух-перо, размер 50*50-4 шт., 60*60 - 1 шт. двадцать четыре</div>
                        <div class="info">
                            <div class="date">7 авг</div>
                            <div class="city">Уфа</div>
                        </div>
                    </div>
                    <div class="ads-list__item-price">
                        <div class="price"><b>250</b><span class="price__icon">₽</span></div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <a href="" class="ads-list__item">
                    <div class="ads-list__item-images">
                        <div class="ads-slider">
                            <img class="ads-slider__item" src="img/AA5J7280.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/avatar.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/IMG_9962_4k.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/P1024449.jpg" title="Подушки" alt="Подушки">
                        </div>
                    </div>
                    <div class="ads-list__item-content">
                        <div class="name">Подушки</div>
                        <div class="desc">Цена каждой подушки-250 руб. Подушки- наполнитель- пух-перо, размер 50*50-4 шт., 60*60 - 1 шт. двадцать четыре</div>
                        <div class="info">
                            <div class="date">7 авг</div>
                            <div class="city">Уфа</div>
                        </div>
                    </div>
                    <div class="ads-list__item-price">
                        <div class="price"><b>250</b><span class="price__icon">₽</span></div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <a href="" class="ads-list__item">
                    <div class="ads-list__item-images">
                        <div class="ads-slider">
                            <img class="ads-slider__item" src="img/AA5J7280.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/avatar.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/IMG_9962_4k.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/P1024449.jpg" title="Подушки" alt="Подушки">
                        </div>
                    </div>
                    <div class="ads-list__item-content">
                        <div class="name">Подушки</div>
                        <div class="desc">Цена каждой подушки-250 руб. Подушки- наполнитель- пух-перо, размер 50*50-4 шт., 60*60 - 1 шт. двадцать четыреСтульчик - качели от 0 месяцев. После одного ребёнка. Использовался крайне редко тк по пол года живём на даче. В идеальном состоянии. Из самого страшного небольшие следы от ручки- на фото есть. Торг уместен.</div>
                        <div class="info">
                            <div class="date">7 авг</div>
                            <div class="city">Уфа</div>
                        </div>
                    </div>
                    <div class="ads-list__item-price">
                        <div class="price"><b>250</b><span class="price__icon">₽</span></div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <a href="" class="ads-list__item">
                    <div class="ads-list__item-images">
                        <div class="ads-slider">
                            <img class="ads-slider__item" src="img/AA5J7280.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/avatar.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/IMG_9962_4k.jpg" title="Подушки" alt="Подушки">
                            <img class="ads-slider__item" src="img/P1024449.jpg" title="Подушки" alt="Подушки">
                        </div>
                    </div>
                    <div class="ads-list__item-content">
                        <div class="name">Магнитофон elekta Магнитофон elekta Магнитофон elekta Магнитофон elekta Магнитофон elekta Магнитофон elekta Магнитофон elekta</div>
                        <div class="desc">Цена каждой подушки-250 руб. Подушки- наполнитель- пух-перо, размер 50*50-4 шт., 60*60 - 1 шт. двадцать четыре</div>
                        <div class="info">
                            <div class="date">7 авг</div>
                            <div class="city">Уфа</div>
                        </div>
                    </div>
                    <div class="ads-list__item-price">
                        <div class="price"><b>7000</b><span class="price__icon">₽</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}