{% extends './layout.html' %}
{% block content %}
<div class="wrapper ads-list-page">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 main-header">
            <h1>Мои объявления</h1>
            <button type="button" class="btn btn--primary  js-btn-addAds"><i class="btn__icon btn__icon--left btn__icon--plus"></i>Добавить объявление</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row ads-user-list">
                <div class="ads-user-item__inner col-12 col-md-4 col-lg-3">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели TatamiaСтульчик - качели Tatamia</div>
                            <div class="price"><b>7 000</b> ₽</div>
                            <div class="info">
                                <div class="date">30 дней осталось</div>
                                <div class="city">Благовещенск</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-4 col-lg-3">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-4 col-lg-3">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-4 col-lg-3">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-4 col-lg-3">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}