{% extends './layout.html' %}
{% block content %}
<div class="wrapper ads-user">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="ads-user__alert">
                Объявление снято с публикации
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="control-btn  control-btn--mob">
                <div class="control-btn__inner">
                    <button type="button" class="js-ads-edit btn btn--secondary">Редактировать</button>
                    <button type="button" class="btn btn--secondary">Опубликовать</button>
                    <button type="button" class="js-ads-remove btn btn--secondary">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 main-header">
            <h1>Игрушечный дракон пластик страшно фэнэзи рука</h1>
        </div>
        <div class="col-12">
            <div class="price price--mob">
                <b>500</b> ₽
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ads-user__info ads-user__info--pc">
                <div class="date">5 мая</div>
                <div class="city">Челябинск</div>
                <div class="delivery">Возможна отправка в другой регион</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            {% include 'ads-slider-user/ads-slider-user.html' %}
        </div>
        <div class="col-lg-4">
            <div class="ads-user__detail">
                <div class="price price--pc"><b>500</b> ₽</div>
                <a href="tel:+79435431263" class="phone">+7 943 543 12 63</a>
                <a href="mailto:erganom@gmail.com" class="email">erganom@gmail.com</a>
                <div class="people">
                    <div class="avatar">
                        <img src="img/avatar.jpg" alt="Евгений Обухов">
                    </div>
                    <div class="content">
                        <div class="name">Евгений Обухов</div>
                        <div class="desc">Ведущий геодезист</div>
                    </div>
                </div>
                <div class="control-btn control-btn--pc" >
                    <a href="#" class="btn btn--secondary">2 объвления пользователя</a>
                    <button type="button" class="js-ads-edit btn btn--secondary">Редактировать</button>
                    <button type="button" class="btn btn--secondary">Опубликовать</button>
                    <button type="button" class="js-ads-remove btn btn--secondary">Удалить</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'ads-modals-add/ads-modals-add.html' %}
{% include 'ads-modals-remove/ads-modals-remove.html' %}
{% endblock %}

{% block scripts %}

{% endblock %}