{% extends './layout.html' %}
{% block content %}
<div class="wrapper ads-user-list">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <a href="#" class="ads-user-list__info">
                <picture class="avatar">
                    <!--[if IE 9]>
                    <video style="display: none;"><![endif]-->
                    <source srcset="img/avatar.webp" type="image/webp">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="img/avatar.jpg" title="Лучшие в металлургии"
                         alt="Лучшие в металлургии">
                </picture>
                <div class="ads-user-list__info-content">
                    <div class="name">Поверин Андрей Павлович</div>
                    <div class="desc">Главный инженер отделения трубопрокатного цеха</div>
                    <div class="city">Выкса — ВМЗ — ЗУ2</div>
                </div>

            </a>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <div class="row">
                <div class="ads-user-item__inner col-12 col-md-6 col-lg-4">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели TatamiaСтульчик - качели Tatamia</div>
                            <div class="price"><b>7 000</b> ₽</div>
                            <div class="info">
                                <div class="date">30 дней осталось</div>
                                <div class="city">Благовещенск</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-6 col-lg-4">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-6 col-lg-4">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-6 col-lg-4">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ads-user-item__inner col-12 col-md-6 col-lg-4">
                    <a href="#" class="ads-user-item">
                        <picture class="ads-user-item__img">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                                 alt="Лучшие в металлургии">
                        </picture>
                        <div class="ads-user-item__content">
                            <div class="name">Стульчик - качели Tatamia</div>
                            <div class="price">7 000 ₽</div>
                            <div class="info">
                                <div class="date">7 авг</div>
                                <div class="city">Уфа</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'ads-modals-add/ads-modals-add.html' %}
{% include 'ads-modals-remove/ads-modals-remove.html' %}
{% endblock %}

{% block scripts %}

{% endblock %}