{% extends './layout.html' %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <section class="practices">
        <div class="row ">
            <div class="col-12">
                <div class="main-header main-header--practices">
                    <h1>Лучшие практики</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="practices__widget">
                    <div class="practices__widget-header">
                        <h3>Для формирования базы практик добавьте фото ваших подразделений</h3>
                        <h4>Самые образцовые получат памятные призы</h4>
                    </div>
                    <button class="btn btn--danger"><i class="btn__icon btn__icon--left btn__icon--plus"></i>Добавить фото</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="header-block">
                    <h2>Производство</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-6">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/01-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/01-d.svg" title="" alt="...">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Лучшие в металлургии</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">Обновлен 10 фев</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-6">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/02-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/02-d.svg" title="" alt="...">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Лучшие в металлургии</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">Обновлен 10 фев</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-6">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/03-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/03-d.svg" title="" alt="...">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Лучшие в металлургии</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">Обновлен 10 фев</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="header-block">
                    <h2>Офис</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-6">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/04-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/04-d.svg" title="" alt="...">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Лучшие в металлургии</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">Обновлен 10 фев</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-6">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/05-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/05-d.svg" title="" alt="...">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Лучшие в металлургии</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">Обновлен 10 фев</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-6">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/06-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/06-d.svg" title="" alt="...">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Лучшие в металлургии</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">Обновлен 10 фев</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-6">
                <div class="header-block">
                    <h2>Видео</h2>
                </div>
                <a href="/" class="card card--brb">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/07-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/07-d.svg" title="" alt="...">
                    </picture>
                </a>
            </div>

            <div class="col-md-4 col-6">
                <div class="header-block">
                    <h2>Абсурды</h2>
                </div>
                <a href="/" class="card card--brb">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/08-m.svg" media="(max-width: 1022px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/08-d.svg" title="" alt="...">
                    </picture>
                </a>
            </div>
        </div>

    </section>
</div>

{% endblock %}