{% extends './layout.html' %}
{% block content %}
<div class="wrapper info-system">
    <div class="row">
        {% include 'breadcrumbs/breadcrumbs.html' %}
    </div>
    <div class="row main-header">
        <h1>Информационные системы</h1>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'information-systems-search/information-systems-search.html' %}
        </div>
    </div>

    <div class="row">
        <div class="header-block">
            <h2>Сервисы</h2>
        </div>
    </div>

    <div class="row news__row">
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">ОМК Docs</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Мониторинг  5С-офис</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Следующий формат</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Q3MET</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">ОМК Docs</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Мониторинг  5С-офис</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Следующий формат</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Q3MET</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">ОМК Docs</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Мониторинг  5С-офис</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Следующий формат</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#0" class="info-system__services">
                <span class="avatar"><img src="" alt=""></span>
                <span class="name">Q3MET</span>
            </a>
        </div>

        <div class="col-12">
            <a href="#0" class="btn btn--dark">Ещё 87 сервисов</a>
        </div>
    </div>

    <div class="row">
        <div class="header-block">
            <h2>Системы</h2>
        </div>
    </div>

    <div class="row news__row">
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Отчёт по фактически отработанному времени</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Отчёт по фактически отработанному времени</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Отчёт по фактически отработанному времени</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Отчёт по фактически отработанному времени</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Отчёт по фактически отработанному времени</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Отчёт по фактически отработанному времени</a>
        </div>
        <div class="col-md-6">
            <a href="#0" class="info-system__sys">Производственный проект «South Stream»</a>
        </div>
    </div>
</div>

{% endblock %}