{% extends './layout.html' %}
{% block content %}
<div class="wrapper">
    <div class="row">
        {% include 'breadcrumbs/breadcrumbs.html' %}
    </div>
    <div class="row main-header">
        <h1>Новости</h1>
    </div>

    <div class="row news">
        <!--        первая большая новость-->
        <div class="col-12">
            <a href="/" class="card card--main">
                <picture class="card-img">
                    <source srcset="img/main-card.webp" type="image/webp">
                    <img src="img/main-card.jpg" type="image/jpg" title="Лучшие в металлургии" alt="Лучшие в металлургии">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>
        <!--        первая большая новость конец-->

        <div class="col-md-4">
            <a href="/" class="card">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/" class="card">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/" class="card card--image">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a href="/" class="card">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/" class="card card--image">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/" class="card">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/" class="card">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/" class="card">
                <picture class="card-img">
                    <source srcset="" type="image/webp">
                    <img src="..." type="image/jpg" title="" alt="...">
                </picture>
                <div class="card-body">
                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                    <h5 class="card-title">Лучшие в металлургии</h5>
                    <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей Toyota</p>
                </div>
                <div class="card-footer">
                    <div class="card-date">10 фев</div>
                    <div class="card-like"><i class="icon"></i>0</div>
                    <div class="card-comment"><i class="icon"></i>23</div>
                </div>
            </a>
        </div>

        <div class="col-12 news-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="card card--image">
                            <picture class="card-img">
                                <source srcset="" type="image/webp">
                                <img src="..." type="image/jpg" title="" alt="...">
                            </picture>
                            <div class="card-body">
                                <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                <h5 class="card-title">Лучшие в металлургии</h5>
                                <p class="card-text">Производственная система сразу трех заводов ОМК удостоена медалей
                                    Toyota</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date">10 фев</div>
                                <div class="card-like"><i class="icon"></i>0</div>
                                <div class="card-comment"><i class="icon"></i>23</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}