{% extends './layout.html' %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <main class="news">
        <div class="row news__row">
            <div class="col-12 main-header">
                <h1>Новости</h1>
            </div>
        </div>
        <div class="row news__row">
            <div class="col-12">
                <button type="button" class="results-nav__filters-btn js-results-nav__filters-btn">
                    <span class="icon"></span>
                    <span class="text">Фильтры</span>
                    <span class="count">2</span>
                </button>
                <div class="results-nav">
                    <form action="" class="sorting-form">
                        <div class="results-nav__selects js-results-nav__selects">
                            <div class="top">
                                <div class="top-header">
                                    <div class="name">Фильтры</div>
                                </div>
                                <button type="button" class="top-close js-top-close"></button>
                            </div>

                            <div class="bottom">

                                <div class="selects">
                                    <div class="results-nav__select js-results-nav__select">
                                        <div class="mobile-title">Площадка</div>
                                        <select name="" id="" class="selectpicker sorting-form__select select-js">
                                            <option value="">Все площадки</option>
                                            <option value="">Альметьевск</option>
                                            <option value="">Москва</option>
                                            <option value="">Челябинск</option>
                                            <option value="">Уфа</option>
                                            <option value="">Благовещенск</option>
                                            <option value="">Чусовой</option>
                                            <option value="">Выкса</option>
                                        </select>
                                    </div>
                                    <div class="results-nav__select js-results-nav__select">
                                        <div class="mobile-title">Дата</div>
                                        <div class="data-select">
                                            <button class="data-select__btn btn datapicker-trigger-js" type="button">
                                                Дата
                                            </button>
                                            <div class="data-select__result ">
                                                <input type="text" hidden readonly
                                                       class="date-select__input datapicker-result-js">
                                                <div class="data-select__fake-input datapicker-fake-js"></div>
                                                <button type="button"
                                                        class="data-select__clear btn datapicker-clear-js"></button>
                                            </div>
                                            <div class="data-select__dropdown">
                                                <div class="data-select__item datapicker-js"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <button type="submit" class="btn btn--primary">Применить</button>
                                    <button type="reset" class="btn btn--secondary">Сбросить фильтры</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row news__row">
            <!--        первая большая новость-->
            <div class="col-12">
                <a href="/" class="card card--main">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags"><span class="badge">ВМЗ</span></div>
                        <h5 class="card-title">Лучшие в металлургии</h5>
                        <p class="card-text">Производственная система сразу трех заводов ОМК удостоена
                            медалей
                            Toyota</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев 2019</div>
                        <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-white"></i>23</div>
                    </div>
                </a>
            </div>
            <!--        первая большая новость конец-->

            <div class="col-lg-4 col-md-6 col-12">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/ot.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/ot.jpg"
                             title="Альметьевский трубный завод пополнил товарную линейку оцинкованными трубами"
                             alt="Альметьевский трубный завод пополнил товарную линейку оцинкованными трубами">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="badge">ВМЗ</span>
                            <span class="badge badge--gallery">Галерея</span>
                        </div>
                        <h5 class="card-title">Альметьевский трубный завод пополнил товарную линейку
                            оцинкованными
                            трубами</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/AA5J6740.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/AA5J6740.jpg"
                             title="ОМК начала поставки рессор для обновленных автомобилей Ford Transit"
                             alt="ОМК начала поставки рессор для обновленных автомобилей Ford Transit">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="badge">ВМЗ</span>
                            <span class="badge badge--gallery">Галерея <span
                                    class="badge__count">7 фото</span></span>
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                        </div>
                        <h5 class="card-title">ОМК начала поставки рессор для обновленных автомобилей Ford
                            Transit</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/" class="card card--image">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/IMG_9962_4k.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/IMG_9962_4k.jpg"
                             title="Производственный травматизм в 2019 году на предприятиях ОМК снизился на 43%"
                             alt="Производственный травматизм в 2019 году на предприятиях ОМК снизился на 43%">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="badge">ВМЗ</span>
                            <span class="badge badge--video">Видео</span>
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                        </div>
                        <h5 class="card-title">Производственный травматизм в 2019 году на предприятиях ОМК
                            снизился
                            на
                            43%</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-white"></i>23</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <a href="/" class="card card--image card--big">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/PPU.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/PPU.jpg"
                             title="АТЗ пополнил товарную линейку трубами с внутренним антикоррозионным покрытием и тепловой изоляцией"
                             alt="АТЗ пополнил товарную линейку трубами с внутренним антикоррозионным покрытием и тепловой изоляцией">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="badge">ВМЗ</span>
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                        </div>
                        <h5 class="card-title">АТЗ пополнил товарную линейку трубами с внутренним
                            антикоррозионным
                            покрытием и тепловой изоляцией</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-white"></i>23</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <a href="/" class="card card--big">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/IMG_9962_4k.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/IMG_9962_4k.jpg"
                             title="Производственный травматизм в 2019 году на предприятиях ОМК снизился на 43%"
                             alt="Производственный травматизм в 2019 году на предприятиях ОМК снизился на 43%">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags">
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                            <span class="badge">ВМЗ</span>
                            <span class="badge">Белэнергомаш</span>
                            <span class="badge">ЧМЗ</span>
                            <span class="badge">АТЗ</span>
                            <span class="badge badge--video">Видео</span>
                        </div>
                        <h5 class="card-title">Производство труб большого диаметра</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/ot.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/ot.jpg"
                             title="Альметьевский трубный завод пополнил товарную линейку оцинкованными трубами"
                             alt="Альметьевский трубный завод пополнил товарную линейку оцинкованными трубами">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags"><span class="badge">ВМЗ</span></div>
                        <h5 class="card-title">Альметьевский трубный завод пополнил товарную линейку
                            оцинкованными
                            трубами</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/AA5J6740.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/AA5J6740.jpg"
                             title="ОМК начала поставки рессор для обновленных автомобилей Ford Transit"
                             alt="ОМК начала поставки рессор для обновленных автомобилей Ford Transit">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags"><span class="badge">ВМЗ</span></div>
                        <h5 class="card-title">ОМК начала поставки рессор для обновленных автомобилей Ford
                            Transit</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/" class="card">
                    <picture class="card-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/P1024449.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/P1024449.jpg"
                             title="ОМК начала поставки рессор для обновленных автомобилей Ford Transit"
                             alt="ОМК начала поставки рессор для обновленных автомобилей Ford Transit">
                    </picture>
                    <div class="card-body">
                        <div class="card-tags"><span class="badge">ВМЗ</span></div>
                        <h5 class="card-title">ОМК начала поставки рессор для обновленных автомобилей Ford
                            Transit</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                </a>
            </div>

            <div class="col-12 news-slider js-slider-big">
                <div class="swiper-container">
                    <div class="swiper-wrapper no-swiping">
                        <div class="swiper-slide">
                            <a href="/" class="card card--image">
                                <picture class="card-img">
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J7280.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J7280.jpg" title="Новые технологии на ВМЗ в 2019"
                                         alt="Новые технологии на ВМЗ в 2019">
                                </picture>
                                <div class="card-body">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                    <h5 class="card-title">Новые технологии на ВМЗ в 2019</h5>
                                    <p class="card-text">Литейно-прокатный комплекс Выксунского
                                        металлургического
                                        завода
                                        (АО «ВМЗ», Нижегородская область, входит в состав Объединенной
                                        металлургической
                                        компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн
                                        горячекатанного рулонного проката, став важным звеном…</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-white"></i>23
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/" class="card card--image">
                                <picture class="card-img">
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J7280.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J7280.jpg" title="Новые технологии на ВМЗ в 2019"
                                         alt="Новые технологии на ВМЗ в 2019">
                                </picture>
                                <div class="card-body">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                    <h5 class="card-title">Новые технологии на ВМЗ в 2019</h5>
                                    <p class="card-text">Литейно-прокатный комплекс Выксунского
                                        металлургического
                                        завода
                                        (АО «ВМЗ», Нижегородская область, входит в состав Объединенной
                                        металлургической
                                        компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн
                                        горячекатанного рулонного проката, став важным звеном…</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-white"></i>23
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/" class="card card--image">
                                <picture class="card-img">
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J7280.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J7280.jpg" title="Новые технологии на ВМЗ в 2019"
                                         alt="Новые технологии на ВМЗ в 2019">
                                </picture>
                                <div class="card-body">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                    <h5 class="card-title">Новые технологии на ВМЗ в 2019</h5>
                                    <p class="card-text">Литейно-прокатный комплекс Выксунского
                                        металлургического
                                        завода
                                        (АО «ВМЗ», Нижегородская область, входит в состав Объединенной
                                        металлургической
                                        компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн
                                        горячекатанного рулонного проката, став важным звеном…</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-white"></i>23
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/" class="card card--image">
                                <picture class="card-img">
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J7280.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J7280.jpg" title="Новые технологии на ВМЗ в 2019"
                                         alt="Новые технологии на ВМЗ в 2019">
                                </picture>
                                <div class="card-body">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                    <h5 class="card-title">Новые технологии на ВМЗ в 2019</h5>
                                    <p class="card-text">Литейно-прокатный комплекс Выксунского
                                        металлургического
                                        завода
                                        (АО «ВМЗ», Нижегородская область, входит в состав Объединенной
                                        металлургической
                                        компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн
                                        горячекатанного рулонного проката, став важным звеном…</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-white"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-white"></i>23
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>

            <div class="col-12">
                <a href="#0" class="btn btn--dark">Показать еще</a>
            </div>
        </div>
    </main>

    <section class="detours">
        <div class="row">
            <div class="col-12 header-block">
                <h2>Обходы</h2>
                <div class="header-block__btn">
                    <a href="obhod.html" class="btn">Все обходы <i
                            class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row detours__row">
            <div class="col-12 detours-slider js-detours-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray-chek"></i>123
                                    </div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--success">
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха
                                        №1</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags">
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--danger">
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех
                                        цехов</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark">
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Внеплановый обход управляющего директора
                                        БАЗ
                                        цеха
                                        №2</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark">
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха
                                        №1</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark">
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-check"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i
                                                class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Внеплановый обход управляющего директора
                                        БАЗ
                                        цеха
                                        №2</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </section>

    <section class="video-gallery">
        <div class="row">
            <div class="col-12 header-block">
                <h2>Видео</h2>
                <div class="header-block__btn">
                    <a href="#0" class="btn">Все видео <i
                            class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row video-gallery__row">
            <div class="col-12 video-gallery__slider js-video-gallery">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body js-video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg" title="" alt="">
                                    </picture>
                                    <div class="js-video__player">
                                        <video class="video__player" controls preload="auto">
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4"
                                                    type="video/mp4">
                                            <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm"
                                                    type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <h5 class="video__title">Выксунский металлургический завод</h5>
                                    <div class="card-date">10 фев</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body js-video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg" title="" alt="">
                                    </picture>
                                    <div class="js-video__player">
                                        <video class="video__player" controls preload="auto">
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4"
                                                    type="video/mp4">
                                            <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm"
                                                    type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <h5 class="video__title">Выксунский металлургический завод</h5>
                                    <div class="card-date">10 фев</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body js-video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg" title="" alt="">
                                    </picture>
                                    <div class="js-video__player">
                                        <video class="video__player" controls preload="auto">
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4"
                                                    type="video/mp4">
                                            <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm"
                                                    type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <h5 class="video__title">Выксунский металлургический завод</h5>
                                    <div class="card-date">10 фев</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body js-video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg" title="" alt="">
                                    </picture>
                                    <div class="js-video__player">
                                        <video class="video__player" controls preload="auto">
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4"
                                                    type="video/mp4">
                                            <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm"
                                                    type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <h5 class="video__title">Выксунский металлургический завод</h5>
                                    <div class="card-date">10 фев</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </section>

    <section class="articles">
        <div class="row">
            <div class="col-12 header-block">
                <h2>Статьи из прессы</h2>
                <div class="header-block__btn">
                    <a href="#0" class="btn">Все cтатьи <i
                            class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row articles__row">
            <div class="col-12 articles-slider js-articles-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#0" class="articles-card">
                                <div class="articles-card__header">
                                    <div class="card-date">10 фев</div>
                                </div>
                                <div class="articles-card__body">
                                    <h5 class="articles-card__title">ОМК получила допуск для поставок
                                        обсадных
                                        сварных труб на газодобывающие объекты Газпрома</h5>
                                </div>
                                <span class="articles-card__footer">
                                    <span class="articles-card__source">ИА «Интерфакс»</span>
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="articles-card">
                                <div class="articles-card__header">
                                    <div class="card-date">10 фев</div>
                                </div>
                                <div class="articles-card__body">
                                    <h5 class="articles-card__title">Ход строительства цеха по выпуску
                                        бесшовных
                                        труб ОМК</h5>
                                </div>
                                <span class="articles-card__footer">
                                    <span class="articles-card__source">Журнал «Металлоснабжение и сбыт»</span>
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="articles-card">
                                <div class="articles-card__header">
                                    <div class="card-date">10 фев 2019</div>
                                </div>
                                <div class="articles-card__body">
                                    <h5 class="articles-card__title">Russia's OMK targets oil and gas
                                        companies with
                                        new OCTG operations</h5>
                                </div>
                                <span class="articles-card__footer">
                                    <span class="articles-card__source">S&P Global Platts</span>
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="articles-card">
                                <div class="articles-card__header">
                                    <div class="card-date">10 фев</div>
                                </div>
                                <div class="articles-card__body">
                                    <h5 class="articles-card__title">ОМК получила допуск для поставок
                                        обсадных
                                        сварных труб на газодобывающие объекты Газпрома ОМК получила допуск
                                        для
                                        поставок обсадных сварных труб на газодобывающие объекты
                                        Газпрома</h5>
                                </div>
                                <span class="articles-card__footer">
                                    <span class="articles-card__source">ИА «Интерфакс»</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </section>

    {% include 'unknown/unknown.html' %}

    <div class="tags">
        <div class="row">
            <div class="col-12 tags-col">
                <a href="#0" class="tags__item">Новость</a>
                <a href="#0" class="tags__item">Мероприятие</a>
                <a href="#0" class="tags__item">Конкурс</a>
                <a href="#0" class="tags__item">Результаты работы</a>
                <a href="#0" class="tags__item">Интервью</a>
                <a href="#0" class="tags__item">Лонгрид</a>
                <a href="#0" class="tags__item">СМИ</a>
                <a href="#0" class="tags__item">Важное сообщение</a>
            </div>
        </div>
    </div>


</div>

{% include 'videoPopup/videoPopup.html' %}
{% endblock %}
