{% extends './layout.html' %}
{% block content %}
<div class="wrapper detours-page">
    <div class="row">
        {% include 'breadcrumbs/breadcrumbs.html' %}
    </div>
    <div class="row main-header">
        <h1>Обходы</h1>
    </div>
    <section class="detours">
        <div class="row header-block">
            <h2>Февраль</h2>
        </div>
        <div class="row detours__row">
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray-chek"></i>123</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--success">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span></div>

                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--danger">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                            №2</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
        </div>
    </section>
    <section class="detours">
        <div class="row header-block">
            <h2>Январь</h2>
        </div>
        <div class="row detours__row">
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray-chek"></i>123</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--success">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span></div>

                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--danger">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                            №2</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray-chek"></i>123</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--success">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span></div>

                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--danger">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                            №2</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
        </div>
    </section>
    <section class="detours">
        <div class="row header-block">
            <h2>Декабрь 2019</h2>
        </div>
        <div class="row detours__row">
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray-chek"></i>123</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--success">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span></div>

                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--danger">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                            №2</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray-chek"></i>123</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--success">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span></div>

                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--danger">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                            №2</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark detours-card__mark--danger">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                            №2</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#0" class="detours-card">
                    <div class="detours-card__header">
                        <div class="card-date">10 фев</div>
                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                    </div>
                    <div class="detours-card__body">
                        <div class="detours-card__mark">
                            <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                            <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                            </div>
                        </div>
                        <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                    </div>
                    <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                </a>
            </div>
        </div>
    </section>

    <div class="row news__row">
        <a href="#0" class="btn btn--dark">Показать еще</a>
    </div>

</div>
{% endblock %}
