{% extends './layout.html' %}
{% block content %}
    <div class="wrapper profile">
        <div class="row">
            <div class="col-3">
                <div class="profile-photo">
                    <div class="profile-photo__inner">
                        <picture>
                            <source srcset="img/avatar.webp" type="image/webp">
                            <img src="img/avatar.jpg" alt="image_alt">
                        </picture>
                    </div>
                </div>
                <!-- if private -->
                <ul class="profile-articles">
                    <li class="profile-articles__item">
                        <a href="#0" class="plus"></a>
                        <a href="#0" class="profile-articles__link">
                            <div class="text">Мои объявления</div>
                            <div class="count">5</div>
                        </a>
                    </li>
                    <li class="profile-articles__item">
                        <a href="#0" class="plus"></a>
                        <a href="#0" class="profile-articles__link">
                            <div class="text">Мой блог</div>
                            <div class="count">4</div>
                        </a>
                    </li>
                </ul>
                <div class="profile-blogs">
                    <h4 class="profile-blogs__title">Отслеживаемые блоги</h4>
                    <ul class="profile-blogs__list">
                        <li class="profile-blogs__item">
                            <a href="#0" class="profile-blogs__link">Блог ВМЗ</a>
                        </li>
                        <li class="profile-blogs__item">
                            <a href="#0" class="profile-blogs__link">OMK Dev</a>
                        </li>
                        <li class="profile-blogs__item">
                            <a href="#0" class="profile-blogs__link">Подслушано ВМЗ</a>
                        </li>
                    </ul>
                    <button type="button" class="profile-blogs__more">Все блоги</button>
                </div>
                <!-- elif public -->
                <ul class="profile-articles">
                    <li class="profile-articles__item">
                        <a href="#0" class="profile-articles__link">
                            <div class="text">Мои объявления</div>
                            <div class="count">5</div>
                        </a>
                    </li>
                    <li class="profile-articles__item">
                        <a href="#0" class="profile-articles__link">
                            <div class="text">Мой блог</div>
                            <div class="count">4</div>
                        </a>
                    </li>
                </ul>
                <div class="profile-blogs">
                    <h4 class="profile-blogs__title">Отслеживаемые блоги</h4>
                    <ul class="profile-blogs__list">
                        <li class="profile-blogs__item">
                            <a href="#0" class="profile-blogs__link">Блог ВМЗ</a>
                        </li>
                        <li class="profile-blogs__item">
                            <a href="#0" class="profile-blogs__link">OMK Dev</a>
                        </li>
                        <li class="profile-blogs__item">
                            <a href="#0" class="profile-blogs__link">Подслушано ВМЗ</a>
                        </li>
                    </ul>
                    <a href="#0" class="profile-blogs__more profile-blogs__more--public">Все блоги</a>
                </div>
                <!-- endif -->
            </div>
            <div class="col-6">

                <h1 class="profile-name">Поверин Андрей Павлович</h1>

                <div class="profile-position">Главный инженер отделения трубопрокатного цеха (Подразделение отдела
                    №1023)
                </div>

                <ul class="profile-list">
                    <li class="profile-list__item">
                        <div class="name">Руководитель</div>
                        <div class="content">
                            <!-- Здесь webp лучше не использовать. Слишком мелкое изображение -->
                            <img src="img/avatar.jpg" alt="Орлов Геннадий Александрович">
                            Орлов Геннадий Александрович
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">Местоположение</div>
                        <div class="content">
                            <address>Выкса — ВМЗ — ЗУ2</address>
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">Комната</div>
                        <div class="content">
                            214.6
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">Телефон</div>
                        <div class="content">
                            <a href="tel:+78317737605">+7 (83 177) 3-76-05</a>
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">Мобильный</div>
                        <div class="content">
                            <a href="tel:+79265121262">+7 (926) 512-12-62</a>
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">E-mail</div>
                        <div class="content">
                            <a href="mailto:kostyak@gmail.com">kostyak@gmail.com</a>
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">Skype</div>
                        <div class="content">
                            <a href="Skype:kostya88?userinfo">kostya88</a>
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">VK</div>
                        <div class="content">
                            <a href="https://vk.com/iva12nova" target="_blank">
                                https://vk.com/iva12nova
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M0 0H24V24H0z"/>
                                            <path stroke="#1A1A1A" class="hover-path" stroke-width="2"
                                                  d="M17 7L7 17M9 7L17 7 17 15"/>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="profile-list__item">
                        <div class="name">День рождения</div>
                        <div class="content">
                            6 сен 1988
                        </div>
                    </li>
                </ul>

                <div class="profile-biography">
                    <h2 class="profile-biography__title">Биография</h2>
                    <div class="profile-biography__text">Фарс монотонно образует первоначальный меланхолик, таким
                        образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов
                        мифотворчества сродни механизмам художественно-продуктивного мышления. Фабульный каркас, как бы
                        …
                    </div>
                    <button type="button" class="profile-biography__more">Показать полностью</button>
                </div>

                <div class="profile-regards">
                    <h2 class="profile-regards__title">Достижения</h2>
                    <!-- if есть награды -->
                    <ul class="profile-places">
                        <li class="profile-places__item">12 наград</li>
                        <!-- if private -->
                        <li class="profile-places__item">Место в рейтинге: 1…2</li>
                        <li class="profile-places__item">Активность: 1</li>
                        <!-- endif -->
                    </ul>

                    <div class="regards">
                        <ul class="regards-list">
                            <li class="regards-list__item regards-list__item--count" data-count="2">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-1.svg" alt="alt" class="regards-list__img">
                            </li>
                            <li class="regards-list__item">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-2.svg" alt="alt">
                            </li>
                            <li class="regards-list__item">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-3.svg" alt="alt">
                            </li>
                            <li class="regards-list__item">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-4.svg" alt="alt">
                            </li>
                            <li class="regards-list__item">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-5.svg" alt="alt">
                            </li>
                            <li class="regards-list__item">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-6.svg" alt="alt">
                            </li>
                            <li class="regards-list__item">
                                <div class="regards-list__description">Лучший мастер смены</div>
                                <img src="img/icons/profile-regard-7.svg" alt="alt">
                            </li>
                        </ul>
                        <a href="#0" class="regards__all js-regards__all">Все награды</a>
                    </div>
                    <!-- else -->
                    <div class="profile-regards__none">Нет наград</div>
                    <!-- endif -->

                </div>

                <button type="button" class="profile-active js-profile-active">Актив предприятия</button>

            </div>
            <div class="col-3">
                <button type="button" class="btn btn--secondary js-profile-edit">Редактировать профиль</button>
            </div>
        </div>
    </div>

    {% include 'profile-edit/profile-edit.html' %}
    {% include 'regards-modal/regards-modal.html' %}
    {% include 'profile-active-modal/profile-active-modal.html' %}
{% endblock %}