{% extends './layout.html' %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <div class="row main-header">
        <div class="col-12">
           <h1>Производственная система</h1>
        </div>
        <p class="col-md-10">У нас крутая производственная система с еженедельными обходами и лучшими практиками. Смотрите сами!</p>
    </div>

    <section class="detours">
        <div class="row header-block">
            <h2>Обходы</h2>
            <div class="header-block__btn">
                <a href="obhod.html" class="btn">Все обходы <i class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
            </div>
        </div>
        <div class="row detours__row">
            <div class="col-12 detours-slider js-detours-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray-chek"></i>123
                                    </div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--satisfactorily">
                                        <svg width="96px" height="48px" viewBox="0 0 96 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="page-news/obhod/sign/rate5_flag">
                                                    <path d="M80,1 L16,1 C11.8578644,1 8.10786438,2.67893219 5.39339828,5.39339828 C2.67893219,8.10786438 1,11.8578644 1,16 C1,18.9683094 1.86191305,21.7353736 3.34970465,24.0641181 C5.03768414,26.7062038 7.53041805,28.7845403 10.4825868,29.9530155 L7.89305615,39.0148914 L17.0532755,31 L80,31 C84.1421356,31 87.8921356,29.3210678 90.6066017,26.6066017 C93.3210678,23.8921356 95,20.1421356 95,16 C95,11.8578644 93.3210678,8.10786438 90.6066017,5.39339828 C87.8921356,2.67893219 84.1421356,1 80,1 Z" class="detours__mark-border" stroke="#22D66A" stroke-width="2" fill="none"></path>
                                                    <g class="detours__mark-star" transform="translate(8.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(24.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(40.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(56.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(72.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха
                                        №1</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags">
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                        <span class="badge">ВМЗ</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--enough">
                                        <svg width="96px" height="48px" viewBox="0 0 96 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="page-news/obhod/sign/rate5_flag">
                                                    <path d="M80,1 L16,1 C11.8578644,1 8.10786438,2.67893219 5.39339828,5.39339828 C2.67893219,8.10786438 1,11.8578644 1,16 C1,18.9683094 1.86191305,21.7353736 3.34970465,24.0641181 C5.03768414,26.7062038 7.53041805,28.7845403 10.4825868,29.9530155 L7.89305615,39.0148914 L17.0532755,31 L80,31 C84.1421356,31 87.8921356,29.3210678 90.6066017,26.6066017 C93.3210678,23.8921356 95,20.1421356 95,16 C95,11.8578644 93.3210678,8.10786438 90.6066017,5.39339828 C87.8921356,2.67893219 84.1421356,1 80,1 Z" class="detours__mark-border" stroke="#22D66A" stroke-width="2" fill="none"></path>
                                                    <g class="detours__mark-star" transform="translate(8.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(24.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(40.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(56.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(72.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех
                                        цехов</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--disgusting">
                                        <svg width="96px" height="48px" viewBox="0 0 96 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="page-news/obhod/sign/rate5_flag">
                                                    <path d="M80,1 L16,1 C11.8578644,1 8.10786438,2.67893219 5.39339828,5.39339828 C2.67893219,8.10786438 1,11.8578644 1,16 C1,18.9683094 1.86191305,21.7353736 3.34970465,24.0641181 C5.03768414,26.7062038 7.53041805,28.7845403 10.4825868,29.9530155 L7.89305615,39.0148914 L17.0532755,31 L80,31 C84.1421356,31 87.8921356,29.3210678 90.6066017,26.6066017 C93.3210678,23.8921356 95,20.1421356 95,16 C95,11.8578644 93.3210678,8.10786438 90.6066017,5.39339828 C87.8921356,2.67893219 84.1421356,1 80,1 Z" class="detours__mark-border" stroke="#22D66A" stroke-width="2" fill="none"></path>
                                                    <g class="detours__mark-star" transform="translate(8.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(24.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(40.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(56.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(72.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="detours-card__title">Внеплановый обход управляющего директора
                                        БАЗ
                                        цеха
                                        №2</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--well">
                                        <svg width="96px" height="48px" viewBox="0 0 96 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="page-news/obhod/sign/rate5_flag">
                                                    <path d="M80,1 L16,1 C11.8578644,1 8.10786438,2.67893219 5.39339828,5.39339828 C2.67893219,8.10786438 1,11.8578644 1,16 C1,18.9683094 1.86191305,21.7353736 3.34970465,24.0641181 C5.03768414,26.7062038 7.53041805,28.7845403 10.4825868,29.9530155 L7.89305615,39.0148914 L17.0532755,31 L80,31 C84.1421356,31 87.8921356,29.3210678 90.6066017,26.6066017 C93.3210678,23.8921356 95,20.1421356 95,16 C95,11.8578644 93.3210678,8.10786438 90.6066017,5.39339828 C87.8921356,2.67893219 84.1421356,1 80,1 Z" class="detours__mark-border" stroke="#22D66A" stroke-width="2" fill="none"></path>
                                                    <g class="detours__mark-star" transform="translate(8.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(24.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(40.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(56.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(72.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха
                                        №1</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23
                                    </div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--perfectly">
                                        <svg width="96px" height="48px" viewBox="0 0 96 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="page-news/obhod/sign/rate5_flag">
                                                    <path d="M80,1 L16,1 C11.8578644,1 8.10786438,2.67893219 5.39339828,5.39339828 C2.67893219,8.10786438 1,11.8578644 1,16 C1,18.9683094 1.86191305,21.7353736 3.34970465,24.0641181 C5.03768414,26.7062038 7.53041805,28.7845403 10.4825868,29.9530155 L7.89305615,39.0148914 L17.0532755,31 L80,31 C84.1421356,31 87.8921356,29.3210678 90.6066017,26.6066017 C93.3210678,23.8921356 95,20.1421356 95,16 C95,11.8578644 93.3210678,8.10786438 90.6066017,5.39339828 C87.8921356,2.67893219 84.1421356,1 80,1 Z" class="detours__mark-border" stroke="#22D66A" stroke-width="2" fill="none"></path>
                                                    <g class="detours__mark-star" transform="translate(8.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(24.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(40.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(56.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g class="detours__mark-star" transform="translate(72.000000, 8.000000)">
                                                        <g id="icon">
                                                            <g id="Group">
                                                                <rect id="Rectangle" x="0" y="0" width="16" height="16"></rect>
                                                                <polygon id="Star" fill="#F2F2F4" points="8 11.54 3.29771798 14.972136 5.10878819 9.43941166 0.39154787 6.02786405 6.21313283 6.04058834 8 0.5 9.78686717 6.04058834 15.6084521 6.02786405 10.8912118 9.43941166 12.702282 14.972136"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="detours-card__title">Внеплановый обход управляющего директора
                                        БАЗ
                                        цеха
                                        №2</h5>
                                </div>
                                <div class="detours-card__footer">
                                    <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </section>

    <section class="practices">
        <div class="row header-block">
            <div class="col-12">
                <h2>Лучшие практики</h2>
                <div class="header-block__btn">
                    <a href=#0" class="btn">Смотреть все <i class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row video-gallery__row">
            <div class="col-12 video-gallery__slider js-video-gallery">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide video-gallery__item">
                            <div class="video no-video">
                                <div class="video__body">
                                    <a href="#0">
                                        <picture class="video__preview">
                                            <!--[if IE 9]>
                                            <video style="display: none;"><![endif]-->
                                            <source srcset="img/AA5J7433.webp" type="image/webp">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img src="img/AA5J7433.jpg"   title="" alt="">
                                        </picture>
                                    </a>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                    <video class="video__player" controls preload="auto">
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                        <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                    <video class="video__player" controls preload="auto">
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                        <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                    <video class="video__player" controls preload="auto">
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                        <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 ">
                <div class="practices__widget">
                    <div class="practices__widget-header">
                        <h3>Для формирования базы практик добавьте фото ваших подразделений</h3>
                        <h4>Самые образцовые получат памятные призы</h4>
                    </div>
                    <button class="btn btn--danger"><i class="btn__icon btn__icon--left btn__icon--plus"></i>Добавить фото</button>
                </div>
            </div>
        </div>
    </section>

    <section class="ps-links">
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="ps-links__item">
                    <picture class="ps-links__item-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="ps-links__item-name">Методология</div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="ps-links__item">
                    <picture class="ps-links__item-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="ps-links__item-name">Проекты</div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="ps-links__item">
                    <picture class="ps-links__item-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="ps-links__item-name">Рейтинг развития</div>
                </a>
            </div>
        </div>
    </section>




</div>
{% endblock %}
