{% extends './layout.html' %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>
    </div>
    <div class="row main-header">
        <div class="col-12">
           <h1>Производственная система</h1>
        </div>
        <p class="col-md-10">У нас крутая производственная система с еженедельными обходами и лучшими практиками. Смотрите сами!</p>
    </div>

    <section class="detours">
        <div class="row header-block">
            <h2>Обходы</h2>
            <div class="header-block__btn">
                <a href="obhod.html" class="btn">Все обходы <i class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
            </div>
        </div>
        <div class="row detours__row">
            <div class="col-12 detours-slider js-detours-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray-chek"></i>123</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--success">
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                                </div>
                                <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span> <span
                                             class="badge">ВМЗ</span> <span class="badge">ВМЗ</span></div>

                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark detours-card__mark--danger">
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора ВМЗ всех цехов</h5>
                                </div>
                                <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark">
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                                        №2</h5>
                                </div>
                                <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark">
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Обход управляющего директора БАЗ цеха №1</h5>
                                </div>
                                <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#0" class="detours-card">
                                <div class="detours-card__header">
                                    <div class="card-date">10 фев</div>
                                    <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                    <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                </div>
                                <div class="detours-card__body">
                                    <div class="detours-card__mark">
                                        <div class="detours-card__mark-item"><i class="icon icon--star-check"></i></div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                        <div class="detours-card__mark-item"><i class="icon icon--star-uncheck"></i>
                                        </div>
                                    </div>
                                    <h5 class="detours-card__title">Внеплановый обход управляющего директора БАЗ цеха
                                        №2</h5>
                                </div>
                                <span class="detours-card__footer">
                                     <div class="card-tags"><span class="badge">ВМЗ</span></div>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </section>

    <section class="practices">
        <div class="row header-block">
            <div class="col-12">
                <h2>Лучшие практики</h2>
                <div class="header-block__btn">
                    <a href=#0" class="btn">Смотреть все <i class="btn__icon btn__icon--right btn__icon--arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row video-gallery__row">
            <div class="col-12 video-gallery__slider js-video-gallery">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide video-gallery__item">
                            <div class="video no-video">
                                <div class="video__body">
                                    <a href="#0">
                                        <picture class="video__preview">
                                            <!--[if IE 9]>
                                            <video style="display: none;"><![endif]-->
                                            <source srcset="img/AA5J7433.webp" type="image/webp">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img src="img/AA5J7433.jpg"   title="" alt="">
                                        </picture>
                                    </a>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                    <video class="video__player" controls preload="auto">
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                        <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                    <video class="video__player" controls preload="auto">
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                        <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide video-gallery__item">
                            <div class="video">
                                <div class="video__body">
                                    <picture class="video__preview">
                                        <!--[if IE 9]>
                                        <video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                    <video class="video__player" controls preload="auto">
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                        <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                        <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video__time"></div>
                                </div>
                                <div class="video__footer">
                                    <a href="#0" class="video__title">Выксунский металлургический завод</a>
                                    <div class="video__author">
                                        <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                                        <h6 class="name">Лариса Сковородникова</h6>
                                    </div>
                                    <div class="video__footer-inner">
                                        <div class="card-date">10 фев</div>
                                        <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                                        <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                                        <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 ">
                <div class="practices__widget">
                    <div class="practices__widget-header">
                        <h3>Для формирования базы практик добавьте фото ваших подразделений</h3>
                        <h4>Самые образцовые получат памятные призы</h4>
                    </div>
                    <button class="btn btn--danger"><i class="btn__icon btn__icon--left btn__icon--plus"></i>Добавить фото</button>
                </div>
            </div>
        </div>
    </section>

    <section class="ps-links">
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="ps-links__item">
                    <picture class="ps-links__item-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="ps-links__item-name">Методология</div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="ps-links__item">
                    <picture class="ps-links__item-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="ps-links__item-name">Проекты</div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="ps-links__item">
                    <picture class="ps-links__item-img">
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="img/1360x695_Toyota_2020.webp" type="image/webp">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="img/1360x695_Toyota_2020.jpg" title="Лучшие в металлургии"
                             alt="Лучшие в металлургии">
                    </picture>
                    <div class="ps-links__item-name">Рейтинг развития</div>
                </a>
            </div>
        </div>
    </section>




</div>
{% endblock %}
