{% extends './layout.html' %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'breadcrumbs/breadcrumbs.html' %}
        </div>

    </div>
    <div class="row main-heade main-header--practices">
        <div class="col-12">
            <h1>Безопасность</h1>
        </div>

    </div>
    <section class="practices">
        <div class="row news__row">
            <div class="col-md-6">
                <div class="video no-video js-practices-gallery">
                    <div class="video__body">
                        <a href="#0">
                            <picture class="video__preview">
                                <!--[if IE 9]>
                                <video style="display: none;"><![endif]-->
                                <source srcset="img/AA5J7433.webp" type="image/webp">
                                <!--[if IE 9]></video><![endif]-->
                                <img src="img/AA5J7433.jpg"   title="" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video js-practices-gallery">
                    <div class="video__body">
                        <picture class="video__preview">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/AA5J7433.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/AA5J7433.jpg"   title="" alt="">
                        </picture>
                        <div class="video__time">1:00</div>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video no-video js-practices-gallery">
                    <div class="video__body">
                        <a href="#0">
                            <picture class="video__preview">
                                <!--[if IE 9]>
                                <video style="display: none;"><![endif]-->
                                <source srcset="img/AA5J7433.webp" type="image/webp">
                                <!--[if IE 9]></video><![endif]-->
                                <img src="img/AA5J7433.jpg"   title="" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video js-practices-gallery">
                    <div class="video__body">
                        <picture class="video__preview">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/AA5J7433.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/AA5J7433.jpg"   title="" alt="">
                        </picture>
                        <div class="video__time">1:00</div>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video no-video js-practices-gallery">
                    <div class="video__body">
                        <a href="#0">
                            <picture class="video__preview">
                                <!--[if IE 9]>
                                <video style="display: none;"><![endif]-->
                                <source srcset="img/AA5J7433.webp" type="image/webp">
                                <!--[if IE 9]></video><![endif]-->
                                <img src="img/AA5J7433.jpg"   title="" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video js-practices-gallery">
                    <div class="video__body">
                        <picture class="video__preview">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/AA5J7433.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/AA5J7433.jpg"   title="" alt="">
                        </picture>
                        <div class="video__time">1:00</div>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video no-video js-practices-gallery">
                    <div class="video__body">
                        <a href="#0">
                            <picture class="video__preview">
                                <!--[if IE 9]>
                                <video style="display: none;"><![endif]-->
                                <source srcset="img/AA5J7433.webp" type="image/webp">
                                <!--[if IE 9]></video><![endif]-->
                                <img src="img/AA5J7433.jpg"   title="" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video js-practices-gallery">
                    <div class="video__body">
                        <picture class="video__preview">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/AA5J7433.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/AA5J7433.jpg"   title="" alt="">
                        </picture>
                        <div class="video__time">1:00</div>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video no-video js-practices-gallery">
                    <div class="video__body">
                        <a href="#0">
                            <picture class="video__preview">
                                <!--[if IE 9]>
                                <video style="display: none;"><![endif]-->
                                <source srcset="img/AA5J7433.webp" type="image/webp">
                                <!--[if IE 9]></video><![endif]-->
                                <img src="img/AA5J7433.jpg"   title="" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video js-practices-gallery">
                    <div class="video__body">
                        <picture class="video__preview">
                            <!--[if IE 9]>
                            <video style="display: none;"><![endif]-->
                            <source srcset="img/AA5J7433.webp" type="image/webp">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img/AA5J7433.jpg"   title="" alt="">
                        </picture>
                        <div class="video__time">1:00</div>
                    </div>
                    <div class="video__footer">
                        <a href="#0" class="video__title">Выксунский металлургический завод</a>
                        <div class="video__author">
                            <div class="avatar"><img class="avatar__img" src="img/avatar.jpg" alt="Лариса Сковородникова" title="Лариса Сковородникова"></div>
                            <h6 class="name">Лариса Сковородникова</h6>
                        </div>
                        <div class="video__footer-inner">
                            <div class="card-date">10 фев</div>
                            <div class="card-view"><i class="icon icon--view-gray"></i>100</div>
                            <div class="card-like"><i class="icon icon--like-gray"></i>0</div>
                            <div class="card-comment"><i class="icon icon--comment-gray"></i>23</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row news__row">
            <a href="#0" class="btn btn--dark">Показать еще</a>
        </div>
    </section>
</div>


<!-- Modal -->
<div class="modal fade modal-gallery" id="practices-gallery" tabindex="-1" role="dialog" aria-labelledby="gallery_popup_Label" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-gallery__controls">
                <button type="button" class="btn btn--download-modal" title="Скачать"></button>
                <button type="button" class="btn btn--close-modal close"  aria-label="Close" data-dismiss="modal" title="Закрыть"></button>
            </div>

            <div class="modal-content__inner">
                <div class="thumbs-slider thumbs-slider--border js-modal-thumbs-slider">
                    <div class="swiper-container thumbs-slider__main js-thumbs-slider__main js-thumbs-slider__main--modal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="video">
                                    <div class="video__body">
                                        <picture class="video__preview">
                                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                                            <source srcset="img/AA5J7433.webp" type="image/webp">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img src="img/AA5J7433.jpg"   title="" alt="">
                                        </picture>
                                        <video class="video__player" controls preload="auto">
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                            <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="video__time">1:00</div>
                                    </div>
                                </div>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="video">
                                    <div class="video__body">
                                        <picture class="video__preview">
                                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                                            <source srcset="img/AA5J7433.webp" type="image/webp">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img src="img/AA5J7433.jpg"   title="" alt="">
                                        </picture>
                                        <video class="video__player" controls preload="auto">
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.mp4" type="video/mp4">
                                            <!--                                        для лучшей поддержки набо еще подгружать второй сорс в видео в формате webm-->
                                            <source src="https://timflach.com/wp-content/uploads/2014/02/SELECT_04_cut.webmhd.webm" type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="video__time">1:00</div>
                                    </div>
                                </div>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740-vertical.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740-vertical.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <picture class="thumbs-slider__main-img js-thumbs-slider__main-img">
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="img/AA5J6740.webp" type="image/webp">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="img/AA5J6740.jpg"   title="" alt="">
                                </picture>
                                <div class="thumbs-slider__description ">
                                    <h3 class="title">Новые технологии на ВМЗ в 2019</h3>
                                    <div class="like-item">
                                        <i class="icon icon--like-gray"></i>
                                        0
                                    </div>
                                    <div class="text">Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатанного рулонного проката, став важным звеном…</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container thumbs-slider__nav js-thumbs-slider__nav js-thumbs-slider__nav--modal">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture class="video__preview">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="video__preview">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J7433.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J7433.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="thumbs-slider__nav-img js-thumbs-slider__nav-img">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="img/AA5J6740.webp" type="image/webp">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="img/AA5J6740.jpg"   title="" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button swiper-button-prev thumbs-slider-prev"></div>
                    <div class="swiper-button swiper-button-next thumbs-slider-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
                {% include 'comments/comments.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}