.like-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 12px;
    border-radius: 24px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: $white;
    @media (max-width: $media-md) {
        padding: 0;
        box-shadow: none;
    }

    &__btn {
        display: flex;
        align-items: center;
        border: none;
        padding: 0;
        margin-right: 12px;
        background: none;
        font-size: rem(16);
        line-height: 1.25;
        color: $text-silver;
        &:last-child {
            margin-right: 0;
        }

        .icon {
            width: 24px;
            height: 24px;
            margin: 0 !important;
        }
    }

    &__count {
        margin-right: 12px;
        font-size: rem(16);
        line-height: 1.25;
        font-weight: $font-weight-normal;
        color: $text-silver;

        &-output {
            &.danger {
                color: $coral;
            }
        }
    }
}