.search {
    @include transition();
    position: relative;
    width: 100%;

    &.mobile-active {
        @media(max-width: 575px) {
            margin-left: -17px;
            margin-right: -17px;
            width: calc(100% + 48px);
        }
    }

    //Стилизация скролла
    .mCSB_scrollTools {
        width: 7px;
        opacity: 1;
        margin-right: 10px;

        .mCSB_draggerRail {
            width: 100%;
            background-color: transparent;
            border-radius: 0;
        }

        .mCSB_draggerContainer {
            top: 4px;
            bottom: 4px;
        }

        .mCSB_dragger {
            width: 100%;
            border-radius: 0;

            .mCSB_dragger_bar {
                background-color: rgba(0, 0, 0, 0.4);
                width: 100%;
                border-radius: 3px;
            }

            &.mCSB_dragger_onDrag, &:hover {
                .mCSB_dragger_bar {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    .mCSB_inside > .mCSB_container {
        margin-right: 17px;
    }

    &__row {
        position: relative;
        z-index: 20;
    }

    &__input {
        @include transition();
        width: 100%;
        border: 1px solid $silver-light;
        padding: 11px 16px 15px 48px;
        font-size: 1rem;
        line-height: 1.25;
        background-color: $silver-light;
        background-image: url('/img/icons/search-icon.svg');
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: 12px center;
        border-radius: 5px;

        &:focus {
            background-color: $white;
            border-radius: 5px 5px 0 0;
            outline: none;
            @media(max-width: 575px) {
                border-radius: 0;
                padding: 22px 56px;
                background-size: 32px;
                background-position: 16px center;
            }
        }

        &::placeholder {
            color: $text-silver;
        }

        &.active {
            @media(max-width: 575px) {
                border-radius: 0;
                padding: 22px 56px;
                background-color: $white;
                background-size: 32px;
                background-position: 16px center;
            }
        }
    }

    &.active {
        .search__input {
            background-color: $white;
            border-radius: 5px 5px 0 0;
        }
    }

    &-dropdown {
        display: none;
        position: absolute;
        z-index: 1;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        max-height: 370px;
        border: 1px solid $silver-light;
        background: $white;
        @media (max-width: 575px) {
            height: calc(100vh - 65px);
            max-height: calc(100vh - 65px);
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__link {
            @include transition();
            display: flex;
            align-items: center;
            padding: 16px 24px;

            &:hover {
                text-decoration: none;
                background: $silver-light;
            }

            .img {
                display: block;
                position: relative;
                width: 32px;
                min-width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 50%;
                background: $text-black;
                margin-right: 26px;
            }

            .text {
                color: $text-black;

                .red {
                    color: #f24c3d;
                }
            }
        }

        &__title {
            margin: 0;
            padding: 20px 24px 8px;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 300;
            color: $text-silver;
        }
    }

    &-close {
        display: none;
        @media (max-width: 575px) {
            display: block;
            position: absolute;
            z-index: 10;
            top: 50%;
            right: 16px;
            width: 32px;
            height: 32px;
            background-color: transparent;
            background-image: url(../img/icons/close-modal.svg);
            background-size: contain;
            background-position: center center;
            border: none;
            transform: translateY(-50%);
            opacity: 0;
            pointer-events: none;
            transition-property: opacity;
            transition-duration: .2s;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &-shade {
        display: none;
        @media (max-width: 575px) {
            @include transition();
            display: block;
            position: absolute;
            z-index: 9;
            top: 1px;
            right: 0;
            width: 88px;
            height: calc(100% - 2px);
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 43%);
            opacity: 0;
            pointer-events: none;
            &.active {
                opacity: 1;
            }
        }
    }

    &-off-scroll {
        @media(max-width: 575px) {
            overflow: hidden;
        }
    }
}