.calendar {
    display: block;
    position: relative;
    z-index: 12;
    width: 100%;
    min-width: 280px;
    border: 1px solid $border-10;
    border-radius: 5px;
    margin-bottom: 48px;
    @media (max-width: $media-sm) {
        max-width: 382px;
        margin: 0 auto 32px;
        border: none;
    }
    @media (max-width: 360px) {
        max-width: 288px;
    }

    .calendar-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        background: $white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: rem(24);
        font-weight: $font-weight-bold;
        line-height: 1.33;
        color: #1a1a1a;
        @media (max-width: $media-sm) {
            padding: 24px 8px;
            font-size: rem(16);
            line-height: 1.25;
        }
        @media (max-width: 413px) {
            padding: 24px 6px;
        }
        @media (max-width: 383px) {
            padding: 24px 4px;
        }
        @media (max-width: 360px) {
            padding: 24px 3px;
        }

        .btn {
            display: block;
            width: 24px;
            min-width: auto;
            height: 24px;
            border: none;
            padding: 0;
            border-radius: 0;
            background: none;
            &:hover {
                polyline, line {
                    stroke: $coral;
                }
            }

            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .calendar-header, .calendar-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $media-sm) {
            margin: 0 -8px;
        }
        @media (max-width: 413px) {
            margin: 0 -6px;
        }
        @media (max-width: 383px) {
            margin: 0 -4px;
        }
        @media (max-width: 360px) {
            margin: 0 -3px;
        }

        .calendar-date {
            flex: 0 0 14.28%;
            max-width: 14.28%;
            @media (max-width: $media-sm) {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 40px;
                height: 40px;
                margin: 0 8px 12px;
            }
            @media (max-width: 413px) {
                margin: 0 6px 12px;
            }
            @media (max-width: 383px) {
                margin: 0 4px 12px;
            }
            @media (max-width: 360px) {
                max-width: 36px;
                height: 36px;
                margin: 0 3px 12px;
            }
        }
    }

    .calendar-header {
        background: $white;
        border-bottom: 1px solid $border-10;
        font-size: rem(16);
        line-height: 1.25;
        color: $text-silver;
        text-align: center;
        padding-bottom: 16px;
        @media (max-width: $media-sm) {
            flex-wrap: nowrap;
            border: none;
            padding-bottom: 12px;
        }
        .calendar-date {
            height: auto;
            border: none;
        }
    }

    .calendar-body {
        color: $text-black;
        padding: 0;

        .calendar-date {
            display: flex;
            flex-direction: column;
            height: 136px;
            border: 0;
            padding: 0;
            border-bottom: 1px solid $border-10;
            border-right: 1px solid $border-10;
            @media (max-width: $media-sm) {
                max-width: 56px;
                height: 40px;
                border: none;
                padding: 0 8px;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                &:nth-last-child(-n+7) {
                    margin-bottom: 0;
                }
            }
            @media (max-width: 413px) {
                margin-bottom: 12px;
                max-width: 52px;
                padding: 0 6px;
                margin-left: 0;
                margin-right: 0;
                &:nth-last-child(-n+7) {
                    margin-bottom: 0;
                }
            }
            @media (max-width: 383px) {
                margin-bottom: 12px;
                max-width: 48px;
                padding: 0 4px;
                margin-left: 0;
                margin-right: 0;
                &:nth-last-child(-n+7) {
                    margin-bottom: 0;
                }
            }
            @media (max-width: 360px) {
                max-width: 42px;
                height: 36px;
                margin-bottom: 12px;
                padding: 0 3px;
                margin-left: 0;
                margin-right: 0;
                &:nth-last-child(-n+7) {
                    margin-bottom: 0;
                }
            }

            .date-item {
                box-sizing: border-box;
                align-self: flex-end;
                position: relative;
                width: 32px;
                height: 32px;
                border: 1px solid transparent;
                padding: .1rem;
                appearance: none;
                background: 0 0;
                border-radius: 50%;
                color: $text-black;
                cursor: pointer;
                font-size: rem(16);
                line-height: 1.25;
                outline: 0;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                white-space: nowrap;
                margin-right: 8px;
                margin-top: 8px;
                @media (max-width: $media-sm) {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }

                &:focus {
                    border-color: rgba(246, 81, 69, 0.3);
                    color: $coral;
                }

                &.date-today {
                    border-color: $border-10;
                    color: $text-black;
                }
                &:focus, &:hover {
                    border-color: rgba(246, 81, 69, 0.3);
                    border-width: 1px;
                    color: $coral;
                    text-decoration: none;
                }
                &:active, &.active {
                    border: solid 3px rgba(246, 81, 69, 0.3)!important;
                    border-radius: 100%;
                    background: $white;
                    color: $text-black;
                    &.badge {
                        &:after {
                            top: -5px;
                            right: -5px;
                            @media (max-width: $media-sm) {
                                top: -2px;
                                right: -2px;
                            }
                        }
                    }
                }
                &.badge {
                    &:after {
                        content: '';
                        box-sizing: content-box;
                        display: block;
                        position: absolute;
                        top: -3px;
                        right: -3px;
                        width: 8px;
                        height: 8px;
                        border: solid 2px #ffffff;
                        transition: none;
                        background-color: #f65145;
                        border-radius: 100%;
                        @media (max-width: $media-sm) {
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }

            .date-item, .calendar-event {
                &:disabled, &.disabled {
                    cursor: default;
                    opacity: .25;
                    pointer-events: none;
                }
            }
            &:nth-child(7n) {
                border-right: 0;
            }

            &:nth-last-child(-n+7) {
                border-bottom: 0;
            }

            &.prev-month, &.next-month {
                .date-item, .calendar-event__name {
                    opacity: .25;
                }
            }
        }
    }



    .calendar-range {
        position: relative;

        .date-item {
            color: $coral;
        }

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            right: 0;
            left: 0;
            height: 32px;
            background: fade_out($coral, .9);
            @media (max-width: $media-sm) {
                top: 0;
                bottom: 0;
                height: auto;
            }
        }

        &.range-start {
            &::before {
                left: calc(100% - 24px);
            }
        }

        &.range-end {
            &::before {
                right: 24px;
            }
        }

        &.range-start, &.range-end {
            .date-item {
                background: $coral;
                border-color: $coral;
                color: $white;
            }
        }
    }

    .calendar-events {
        margin-top: 8px;
        @media (max-width: $media-lg) {
            display: none;
        }
    }

    .calendar-event {
        display: block;
        position: relative;
        cursor: default;

        &:hover {
            text-decoration: none;
        }

        &__name {
            display: block;
            overflow: hidden;
            margin: 0 8px 5px;
            padding: 1px 6px 3px;
            border-radius: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: rem(14);
            line-height: 1.43;
            color: $white;
            cursor: pointer;
        }

        &__info {
            @include transition();
            display: block;
            position: absolute;
            z-index: 3;
            bottom: 0;
            left: 50%;
            width: 296px;
            padding: 20px;
            transform: translateX(-50%);
            pointer-events: none;
            opacity: 0;
            box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            border-radius: 8px;
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 6px;
                height: 16px;
                border: 8px solid transparent;
                transform: translateX(-50%);
                border-top-color: #fff;
            }
            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 12px;
                background-color: transparent;
            }

            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                .date {
                    font-size: rem(16);
                    line-height: 1.25;
                }

                .time {
                    min-width: 48px;
                    padding: 3px 4px 5px;
                    border-radius: 12px;
                    font-size: 14px;
                    line-height: 1.14;
                    text-align: center;
                    color: $white;
                    &--red {
                        background-color: $coral;
                    }
                    &--green {
                        background-color: $green;
                    }
                    &--ctrl {
                        background-color: $ctrl-black;
                    }
                }
            }

            &-title {
                margin-bottom: 12px;
                font-size: rem(20);
                font-weight: bold;
                line-height: 1.2;
            }

            &-desc {
                margin-bottom: 12px;
                font-size: rem(16);
                line-height: 1.25;
            }
            &-place {
                margin-bottom: 8px;
                font-size: rem(14);
                line-height: 1.43;
                color: $text-silver;
            }
        }
        &--red {
            .calendar-event__name {
                background-color: $coral;
                &:hover {
                    background-color: $coral-dark;
                }
            }
        }
        &--green {
            .calendar-event__name {
                background-color: $green;

                &:hover {
                    background-color: $green-dark;
                }
            }
        }
        &--ctrl {
            .calendar-event__name {
                background-color: $ctrl-black;

                &:hover {
                    background-color: darken($ctrl-black, 5%);
                }
            }
        }
        &--show-more {
            cursor: pointer;
            .calendar-event__name {
                color: $text-silver;
                background-color: $silver-light;
                text-align: center;
            }
        }
    }
}

.calendar-page {
    .main-header {
        margin-bottom: 24px;
        h1 {
            margin-bottom: 0;
        }
    }

    .news__row {
        margin-bottom: 32px;
        position: relative;
        z-index: 13;
    }
}

.calendar-event__info {
    @include transition();
    display: block;
    position: absolute;
    z-index: 3;
    width: 296px;
    padding: 20px;
    transform: translateX(-25%);
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    @media (max-width: $media-lg) {
        display: none;
    }
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 6px;
        height: 16px;
        border: 8px solid transparent;
        transform: translateX(-50%);
        border-top-color: #fff;
    }
    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: transparent;
    }

    &.show {
        @media (min-width:$media-lg--min) {
            z-index: 999;
            opacity: 1;
            pointer-events: all;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        .date {
            font-size: rem(16);
            line-height: 1.25;
        }

        .time {
            min-width: 48px;
            padding: 3px 4px 5px;
            border-radius: 12px;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            color: $white;
            &--red {
                background-color: $coral;
            }
            &--green {
                background-color: $green;
            }
            &--ctrl {
                background-color: $ctrl-black;
            }
        }
    }

    &-title {
        margin-bottom: 12px;
        font-size: rem(20);
        font-weight: $font-weight-bold;
        line-height: 1.2;
    }

    &-desc {
        margin-bottom: 12px;
        font-size: rem(16);
        line-height: 1.25;
    }
    &-place {
        margin-bottom: 8px;
        font-size: rem(14);
        line-height: 1.43;
        color: $text-silver;
    }
}


.events-list {

    .modal-dialog {
        width: 100%;
        max-width: 616px;
        @media (max-width: $media-sm) {
            margin: 0;

            .modal-gallery__controls {
                position: fixed;
                z-index: 999;
                top: 0;
                right: 0;
                left: 0;
                margin-bottom: 0;
                padding-top: 16px;
                padding-right: 16px;
                pointer-events: all;
            }
        }
    }

    &__content {
        width: 100%;
        padding: 32px 80px;
        border-radius: 8px;
        background-color: #ffffff;
        @media (max-width: $media-sm) {
            position: relative;
            z-index: -1;
            border: 0;
            padding: 64px 32px 48px;
            border-radius: 0;
        }

        .calendar-event__info {
            display: block;
            position: static;
            z-index: 3;
            width: 100%;
            padding: 20px 0;
            transform: none;
            opacity: 1;
            background-color: #ffffff;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 1px solid $border-10;
            &:last-of-type {
                border-bottom: 0;
            }
            &:after, &:before {
                display: none;
            }


            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                .date {
                    font-size: rem(16);
                    line-height: 1.25;
                }

                .time {
                    min-width: 48px;
                    padding: 3px 4px 5px;
                    border-radius: 12px;
                    font-size: 14px;
                    line-height: 1.14;
                    text-align: center;
                    color: $white;
                    &--red {
                        background-color: $coral;
                    }
                    &--green {
                        background-color: $green;
                    }
                    &--ctrl {
                        background-color: $ctrl-black;
                    }
                }
            }

            &-title {
                margin-bottom: 12px;
                font-size: rem(20);
                font-weight: bold;
                line-height: 1.2;
            }

            &-desc {
                margin-bottom: 12px;
                font-size: rem(16);
                line-height: 1.25;
            }
            &-place {
                margin-bottom: 8px;
                font-size: rem(14);
                line-height: 1.43;
                color: $text-silver;
            }
        }
    }
    
    &__title {
        @include transition();
        text-align: center;
        margin-bottom: 12px;
        font-size: rem(28);
        font-weight: $font-weight-bold;
        line-height: 1.29;
        @media (min-width: 576px) {
            position: static !important;
        }
        @media (max-width: $media-sm) {
            &.scroll {
                z-index: 99;
                width: 100%;
                padding: 20px 16px 24px;
                background-color: $white;
                font-size: 16px;
                line-height: 1.25;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
                text-align: left;
            }
        }
    }
}