.ads-list-page {

    @media(min-width: 1024px) {
        .results-nav {
            margin-bottom: 32px;
        }

        .sorting-form {
            margin-bottom: 24px;
        }
    }

    .results-nav__selects {
        .selects {
            justify-content: flex-start;
        }
    }

    .results-nav__select {
        @media (min-width: 1024px) {
            margin-right: 16px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }


    .main-header {
        position: relative;
        @media (max-width: 1023px) {
            font-size: rem(32);
            line-height: 1.25;
            margin-bottom: 24px;
        }


        .btn {
            position: absolute;
            top: 8px;
            right: 16px;
            width: 256px;
            padding: 14px 0;
            @media (max-width: 1279px) {
                width: 216px;
            }
            @media (max-width: 1023px) {
                position: fixed;
                z-index: 10;
                top: auto;
                right: 0;
                bottom: 16px;
                left: 0;
                width: 270px;
                margin: auto;
                padding: 16px 0 16px;

                &__icon {
                    display: inline-block;
                }
            }

            @media (max-width: 413px) {
                width: 240px;
            }

            &__icon {
                display: none;
            }
        }
    }
}

.ads-list {
    margin-bottom: 32px;

    .col-12 {
        &:last-of-type {
            .ads-list__item {
                border-bottom: none;
            }
        }
    }

    &__item {
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: #ffffff;
        display: flex;
        position: relative;
        z-index: 1;
        border-bottom: 1px solid $border-10;
        @media (max-width: 1023px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        @media(hover) {
            &:hover {
                margin-left: -24px;
                margin-right: -24px;
                padding-left: 24px;
                padding-right: 24px;
                border-radius: 8px;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
                border-top: 1px solid transparent;
                border-bottom-color: transparent;
                z-index: 2;
                margin-top: -1px;

                .name {
                    color: $coral;
                }
            }
        }

        &:hover {
            text-decoration: none;
        }


        &-images {
            flex: 0 0 auto;
            width: 160px;
            height: 160px;
            overflow: hidden;
            margin-right: 32px;
            border-radius: 5px;
            background-color: #d8d8d8;
            @media (max-width: 1279px) {
                width: 136px;
                height: 136px;
                margin-right: 24px;
            }
            @media (max-width: 1023px) {
                margin-right: 16px;
            }
        }

        &-content {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding-right: 128px;
            @media (max-width: 1279px) {
                padding-right: 104px;
            }
            @media (max-width: 1023px) {
                padding-right: 0;
            }

            .price {
                display: none;
                @media (max-width: 1023px) {
                    display: block;
                    font-size: rem(16);
                    line-height: 1.25;
                    color: $text-black;
                    margin-bottom: 4px;
                    &__icon {
                        display: inline-block;
                        vertical-align: baseline;
                        margin-left: 8px;
                    }
                    b {
                        font-weight: $font-weight-bold;
                    }
                }
            }

            .name {
                width: 100%;
                margin-bottom: 12px;
                font-size: rem(20);
                font-weight: $font-weight-bold;
                line-height: 1.2;
                color: $text-black;
                @media (max-width: 1023px) {
                    margin-bottom: 8px;
                    font-weight: $font-weight-normal;
                    font-size: rem(16);
                    line-height: 1.25;
                }
            }

            .desc {
                width: 100%;
                font-size: rem(14);
                line-height: 1.4;
                color: $text-black;
                margin-bottom: 12px;
                @media (max-width: 1023px) {
                    display: none;
                }
            }

            .info {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 0;
                margin-top: auto;
                font-size: rem(14);
                line-height: 1.14;
                color: $text-silver;

                .date {
                    margin-right: 16px;
                }
            }
        }

        &-price {
            flex: 0 0 auto;
            width: 160px;
            @media (max-width: 1279px) {
                width: 136px;
            }
            @media (max-width: 1023px) {
                display: none;
            }

            .price {
                font-size: rem(20);
                line-height: 1.2;
                color: $text-black;

                &__icon {
                    display: inline-block;
                    vertical-align: baseline;
                    margin-left: 8px;
                }

                b {
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

.ads-slider {
    width: 100%;
    height: 100%;

    &:hover {
        .tmb-wrap-table div {
            opacity: 1;
        }
    }

    .image-wrap {
        width: 100%;
        height: 100%;
    }

    .tmb-wrap-table {
        display: flex;
        padding: 0 16px 4px;

        div {
            opacity: 0;
            flex: 1 1 100%;
            margin: 0 1px;
            border-bottom: 4px solid $silver;

            &.active {
                border-color: $coral;
            }
        }
    }

    &__item {
        @include object-fit(cover, center);
        display: block;
        width: 100%;
        height: 100%;
    }
}