.info-system {
    padding-bottom: 48px;

    .more-services {
        margin-top: 32px;
        width: 100%;
        max-width: 352px;
        @media(max-width: 1279px) {
            width: 100%;
        }
        @media(max-width: 1023px) {
            padding-top: 14px;
            padding-bottom: 14px;
            max-width: 296px;
        }
    }

    .mail {
        margin-top: 32px;
        font-size: 0.875rem;
        line-height: 1.43;
        color: $text-silver;
        @media(max-width: 575px) {
            margin-top: 20px;
        }
    }

    .main-header {
        h1 {
            @media(max-width: 575px) {
                font-size: 2rem;
                line-height: 1.25;
            }
        }
    }

    .header-block {
        margin: 48px 0 24px;
        @media(max-width: 575px) {
            margin: 32px 0 20px;
        }
        h2 {
            font-size: 1.75rem;
            line-height: 1.29;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    &__services {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 64px;
        margin: 8px 0;
        &:hover {
            text-decoration: none;
        }
        .avatar {
            display: block;
            position: relative;
            min-width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 50%;
            background-color: #d8d8d8;
            margin-right: 16px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }
        }
        .name {
            font-size: 1rem;
            line-height: 1.25;
            color: $text-black;
        }
    }

    &__sys {
        display: inline-block;
        font-size: 1rem;
        line-height: 1.25;
        color: $text-black;
        margin-bottom: 16px;
        @media(max-width: 575px) {
            margin-bottom: 28px;
        }
        &:hover {
            text-decoration: none;
            color: $text-black;
        }
    }
}