.news {
    margin-bottom: 76px;
    @media(max-width: 1279px) {
        margin-bottom: 60px;
    }
    @media(max-width: 1023px) {
        margin-bottom: 40px;
    }

    &__row {
        //margin-right: -32px;
        //margin-left: -32px;
        //align-items: stretch;
        //@media (max-width: 1280px) {
        //    margin-right: -24px;
        //    margin-left: -24px;
        //}
        //@media (max-width: 1023px) {
        //    margin-left: -16px;
        //    margin-right: -16px;
        //    width: auto;
        //    max-width: 100vw;
        //}
        //@media(max-width:767px) {
        //    margin-left: -16px;
        //    margin-right: -16px;
        //}

        .card {
            flex: 1 1 auto;
            margin-bottom: 32px;
            @media (max-width: 414px){
                margin-bottom: 16px;
            }

            &--main {
                height: 440px;
                max-height: none;
                @media (max-width: 1279px) {
                    height: 360px;
                    margin-bottom: 24px;
                }
                @media (max-width: 414px) {
                    height: 414px;
                    border-radius: 0;
                    margin-left: -16px;
                    margin-right: -16px;
                    max-width: 100vw;
                }
                @media (max-width: 320px) {
                    height: 320px;
                }
            }
        }

        .btn--dark {
            width: 352px;
            margin: auto;
            padding: .85rem 1rem .9rem 1rem;
            @media (max-width: 1279px){
                width: 296px;
            }
            @media(max-width: 1023px) {
                width: 100%;
                padding-top:18px;
                padding-bottom: 18px;
            }
        }

        .news-slider {
            position: relative;
            height: 440px;
            margin-bottom: 32px;
            @media (max-width: 1279px) {
                height: 400px;
                margin-bottom: 24px;
            }
            @media(max-width: 1023px) {
                height: 414px;
            }
            @media (max-width: 414px) {
                width: 100vw;
                max-width: 100vw;
                height: auto;
                padding: 0;
                margin-bottom: 16px;
                margin-left: -8px;
                margin-right: -8px;
            }

            .swiper-container {
                height: 100%;
                @media(max-width: 1023px) {
                    padding-bottom: 40px;
                }
                @media (max-width: 414px) {
                    height: auto;
                }
                @media (max-width: 320px) {
                    height: auto;
                }
            }

            .swiper-wrapper {
                height: 100%;
                @media (max-width: 414px) {
                    height: auto;
                }
                @media (max-width: 320px) {
                    height: auto;
                }
            }

            .swiper-slide {
                height: 100%;
                @media (max-width: 414px) {
                    height: 414px;
                }
                @media (max-width: 320px) {
                    height: 288px;
                }

                .card {
                    height: 100%;
                    @media (max-width: 414px) {
                        border-radius: 0;
                    }

                    &:hover {
                        transform: none;
                    }

                    .card-title {
                        width: 83.333%;
                        margin-bottom: 8px;
                        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        font-size: rem(40);
                        font-weight: $font-weight-bold;
                        line-height: 1.2;
                        color: $white;
                        @media(max-width: 1279px) {
                            font-size: 2rem;
                            line-height: 1.25;
                        }
                        @media(max-width: 1023px) {
                            width: 100%;
                            font-size: rem(20);
                            line-height: 1.2;
                        }
                    }

                    .card-text {
                        width: 83.333%;
                        font-size: rem(16);
                        line-height: 1.25;
                        color: $white;
                        @media(max-width: 1023px) {
                            display: none;
                        }
                    }
                }
            }

            .swiper-button {
                display: none;
                @media (max-width: 1023px) {
                    margin-top: -12px;
                }
                &.show {
                    display: block;
                }
            }

            .swiper-pagination {
                display: none;
                &.show {
                    display: flex;
                }
            }
        }

        & > div {
            display: flex;
        }
    }
}

.detours {
    margin-bottom: 64px;
    @media(max-width: 1023px) {
        margin-bottom: 40px;
    }

    .header-block {
        margin: 0 0 24px;
        h2 {
            font-size: 1.75rem;
            line-height: 1.29;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    //&__row {
    //    margin-right: -32px;
    //    margin-left: -32px;
    //    @media (max-width: 1280px) {
    //        margin-right: -24px;
    //        margin-left: -24px;
    //    }
    //}

    &-slider {
        position: relative;



        .swiper-container {
            margin-top: -8px;
            padding-top: 8px;
            @media(max-width: 758px) {
                padding-left: 16px;
                margin-left: -16px;
                margin-right: -16px;
            }
        }

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
            @media(max-width: 1023px) {
                width: auto;
            }
        }
    }
}

.video-gallery {
    margin-bottom: 64px;
    @media(max-width: 1023px) {
        margin-bottom: 48px;
    }

    .header-block {
        margin: 0 0 24px;
        h2 {
            font-size: 1.75rem;
            line-height: 1.29;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    .swiper-container {
        @media(max-width: 758px) {
            padding-left: 16px;
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    .swiper-slide {
        @media(max-width: 1023px) {
            width: auto;
            border-radius: 5px;
            overflow: hidden;
        }
    }

    //&__row {
    //    margin-right: -32px;
    //    margin-left: -32px;
    //    @media (max-width: 1280px) {
    //        margin-right: -24px;
    //        margin-left: -24px;
    //    }
    //}
}

.articles {
    margin-bottom: 64px;
    @media(max-width: 1023px) {
        margin-bottom: 40px;
    }

    .header-block {
        margin: 0 0 24px;
        h2 {
            font-size: 1.75rem;
            line-height: 1.29;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    //&__row {
    //    margin-right: -32px;
    //    margin-left: -32px;
    //    align-items: stretch;
    //    @media (max-width: 1280px) {
    //        margin-right: -24px;
    //        margin-left: -24px;
    //    }
    //}

    &-slider {
        position: relative;

        .swiper-container {
            margin-top: -8px;
            padding-top: 8px;
            @media(max-width: 758px) {
                padding-left: 16px;
                margin-left: -16px;
                margin-right: -16px;
            }
        }

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;

            .articles-card {
                margin-right: 0;
                @media(max-width: 1023px) {
                    width: auto;
                }
            }
            @media(max-width: 1023px) {
                width: auto;
            }

        }
    }
}

.tags {
    margin-bottom: 80px;
    @media(max-width: 1023px) {
        margin-bottom: 40px;
    }

    .header-block {
        margin: 0 0 24px;
        h2 {
            font-size: 1.75rem;
            line-height: 1.29;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    &__row {
        width: 100%;
        max-width: 725px;
        margin: auto;
        @media (max-width: 1279px) {
            max-width: 616px;
        }
    }

    &__item {
        @include transition();
        display: inline-block;
        margin: 0 4px 8px;
        padding: 4px 16px;
        font-size: rem(16);
        line-height: 1.25;
        letter-spacing: normal;
        color: $text-silver;
        border-radius: 16px;
        background-color: $silver-light;

        &:hover {
            text-decoration: none;
            color: $coral;
        }
        &:active {
            transform: scale(.96);
        }
    }

    &-col {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 760px;
        margin: 0 auto;
    }
}