.detours-page {
    padding-bottom: 80px;

    @media (max-width: $media-md) {
        padding-bottom: 8px;
        .detours__row div:last-child {
            .detours-card {
                border-bottom: 0;
            }
            .detours-month__list {
                border-bottom: 1px solid $border-10;
            }
        }
    }

    .detours {
        margin-bottom: 17px;
        @media (max-width: $media-md) {
            margin-bottom: 32px;
        }
    }

    .detours-card {
        margin-bottom: 31px;
        @media (max-width: $media-lg) {
            width: 100%;
            margin-bottom: 24px;
        }
        @media(max-width: $media-md) {
            position: relative;
            width: auto;
            max-width: none;
            min-height: auto;
            padding: 16px;
            margin-bottom: 0;
            margin-right: -16px;
            margin-left: -16px;
            border-radius: 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            .detours-card__mark {
                margin-bottom: 6px;
            }
            .detours-card__title {
                margin-bottom: 16px;
            }
            .detours-card__header {
                order: 1;
                margin-bottom: 0;
                margin-top: 0;
            }
            .detours-card__footer {
                justify-content: flex-end;
                position: absolute;
                right: 8px;
            }
        }
    }


    .news__row {
        margin-bottom: 40px;
        @media(max-width: 520px) {
            margin-bottom: 32px;
        }

        .results-nav__select {
            margin-right: 16px;
            @media (max-width: 520px) {
                margin-right: auto;
            }
        }
    }
}

.detours-detail {

    .people {
        display: flex;
        align-items: flex-start;
        max-width: 296px;
        margin-bottom: 32px;
        &:hover {
            text-decoration: none;
            .content .name {
                color: $coral;
            }
        }

        .avatar {
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
            overflow: hidden;
            margin-right: 16px;
            border-radius: 100%;
            img {
                @include object-fit(cover, center);
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .content {
            flex: 1 1 auto;
            .name {
                margin-bottom: 4px;
                font-size: rem(16);
                font-weight: $font-weight-bold;
                line-height: 1.25;
                color: $text-black;
            }
            .desc {
                font-size: rem(14);
                line-height: 1.14;
                color: $text-silver;
            }
        }
    }

    .header-block {
        align-items: flex-start;
        margin-bottom: 32px;
        @media (max-width: $media-lg) {
            margin-bottom: 24px;
        }

        .detours__mark {
            margin-left: auto;
            margin-right: 0;
            @media (max-width: $media-lg) {
                margin-top: 24px;
            }

            &--disgusting {
                .detours__mark-border {
                    stroke: $silver-dark;
                }
                .detours__mark-text {
                    fill: $silver-dark;
                    margin-top: 1px;
                }
                .detours__mark-star {
                    &:first-of-type {
                        polygon {
                            fill: $silver-dark;
                        }
                    }
                }
            }
            &--satisfactorily {
                .detours__mark-border {
                    stroke: $coral;
                }
                .detours__mark-text {
                    fill: $coral;
                }
                .detours__mark-star {
                    &:nth-of-type(1), &:nth-of-type(2) {
                        polygon {
                            fill: $coral;
                        }
                    }
                }
            }
            &--enough {
                .detours__mark-border {
                    stroke: #f5a631;
                }
                .detours__mark-text {
                    fill: #f5a631;
                }
                .detours__mark-star {
                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                        polygon {
                            fill: #f5a631;
                        }
                    }
                }
            }
            &--well {
                .detours__mark-border {
                    stroke: $green;
                }
                .detours__mark-text {
                    fill: $green;
                }
                .detours__mark-star {
                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                        polygon {
                            fill: $green;
                        }
                    }
                }
            }
            &--perfectly {
                .detours__mark-border {
                    stroke: $green;
                    fill: $green;
                }
                .detours__mark-text {
                    fill: $white;
                }
                .detours__mark-star {

                    polygon {
                        fill: $white;
                    }
                }
            }

            &-text {
                font-size: rem(14);
                font-family: $font-family-base;
                font-weight: $font-weight-bold;
                line-height: 1.43;
                transform: translateY(1px);
            }
        }

        .detours-card__mark-item {
            width: 24px;
            height: 24px;
            .icon {
                width: 24px;
                height: 24px;
            }
        }

        h1 {
            font-size: rem(40);
            line-height: 1.2;
            @media (max-width: $media-lg) {
                font-size: rem(32);
                line-height: rem(40);
            }
        }
    }

    .article__header-info {
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 32px;
        @media (max-width: $media-lg) {
            margin-bottom: 24   px;
        }

        &-item {
            @media(max-width: $media-lg) {
                &:nth-of-type(2) {
                    margin-left: 0;
                }
            }
            &:first-of-type {
                margin-left: 0;
                @media (max-width: $media-lg) {
                    display: none;
                }
            }
        }
    }

    .detours-title {
        font-size: rem(24);
        line-height: 1.33;
        margin-bottom: 16px;
    }

    .detours-responsible {
        margin-bottom: 48px;
        @media (max-width: $media-lg) {
            width: 100%;
            margin-bottom: 32px;
        }

        .people {
            max-width: 296px;
            @media (max-width: $media-lg) {
                align-items: center;
                .content {
                    padding-top: 0;
                }
            }

            .avatar {
                width: 96px;
                height: 96px;
            }
            .content {
                padding-top: 8px;
            }
        }
    }

    .detours-current {
        margin-bottom: 48px;
        @media (max-width: $media-lg) {
            margin-bottom: 32px;
        }
        .detours-title {
            margin-bottom: 8px;
        }
        &__mark {
            display: flex;
            align-items: center;
            padding: 8px 0;

            .rating {
                flex-shrink: 0;
                width: 32px;
                height: 32px;
                margin-right: 16px;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                font-size: rem(16);
                line-height: 1.5;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    .detours-previous {
        @media (max-width: $media-lg) {
            margin-bottom: 32px;
        }
        .detours-title {
            margin-bottom: 8px;
        }

        &__item {
            max-width: 256px;
            @media (max-width: $media-lg) {
                max-width: 100%;
            }
            &:last-of-type {
                .detours-previous__link {
                    border-bottom: 0;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 11px 0 16px;
            border-bottom: 1px solid $border-10;
            font-size: rem(16);
            line-height: 1.25;
            color: $text-black;
            &:hover {
                text-decoration: none;
                .text {
                    color: $coral;
                }
            }

            .text {
                flex-shrink: 0;
                max-width: 128px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .rating {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: flex-end;

                &__item {
                    width: 16px;
                    height: 16px;
                    svg {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                &--perfectly {
                    polygon {
                        fill: $green;
                    }
                }

                &--well {
                    .rating__item:not(:last-of-type) {
                        polygon {
                            fill: $green;
                        }
                    }
                }
                &--enough {
                    .rating__item {
                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                            polygon {
                                fill: #f5a631;
                            }
                        }
                    }
                }
                &--satisfactorily {
                    .rating__item {
                        &:nth-of-type(1), &:nth-of-type(2) {
                            polygon {
                                fill: $coral;
                            }
                        }
                    }
                }
                &--disgusting {
                    .rating__item {
                        &:nth-of-type(1) {
                            polygon {
                                fill: $silver-dark;
                            }
                        }
                    }
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    .detours-analysis {
        @media (max-width: $media-lg) {
            margin-bottom: 24px;
        }

        &__list {
            margin: 0 0 64px;
            padding: 16px 24px 24px 20px;
            border-radius: 5px;
            @media (max-width: $media-lg) {
                margin-bottom: 24px;
                padding: 16px 24px 20px 20px;
            }

            .detours-title {
                font-size: rem(16);
                line-height: 1.25;
                margin-bottom: 16px;
            }
            &--success {
                background-color: rgba(34, 214, 106, 0.1);

                .detours-analysis__item {
                    &:before {
                        background-image: url(../img/detours-plus.svg);
                    }
                }
            }
            &--danger {
                background-color: rgba(246, 81, 69, 0.1);

                .detours-analysis__item {
                    &:before {
                        background-image: url(../img/detours-minus.svg);
                    }
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        &__item {
            position: relative;
            margin-bottom: 16px;
            padding-left: 32px;
            font-size: rem(16);
            line-height: 1.25;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 23px;
                height: 23px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .thumbs-slider {
        @media (max-width: $media-lg) {
            margin-top: 24px;
            margin-bottom: 48px;
        }
        @media (max-width: $media-md) {
            margin-left: -16px;
            margin-right: -16px;
        }

        .video__body {
            @media (max-width: $media-md) {
                border-radius: 0;
            }
        }
    }
    .article__footer {
        @media(max-width: $media-md) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .comments {
        @media (max-width: $media-lg) {
            margin-bottom: 8px;
        }

        .btn {
            @media (max-width: $media-md) {
                margin-bottom: 32px;
            }
        }
    }

    &__intro {
        display: flex;
        border: solid 1px $border-10;
        border-radius: 5px;
        padding-top: 48px;
        padding-bottom: 48px;
        margin-bottom: 48px;
        @media (max-width: $media-lg) {
            border: none;
            border-bottom: 1px solid $border-10;
            border-radius: 0;
            padding-top: 0;
            padding-bottom: 24px;
            margin-bottom: 32px;
            margin-right: -16px;
            margin-left: -16px;
            padding-left: 16px;
            padding-right: 16px;
        }

        .detours-review__item {
            padding: 0 80px;
            @media (max-width: $media-lg) {
                padding: 0;
            }
            .people {
                align-items: center;
                max-width: 288px;
                margin-bottom: 24px;
                .avatar {
                    width: 96px;
                    height: 96px;
                }
            }
        }
        .detours-review__text {
            max-width: none;
            font-size: rem(20);
            line-height: 1.6;
            padding-left: 0;
            @media (max-width: $media-lg) {
                font-size: rem(18);
                line-height: 1.56;
            }
            p {
                margin-bottom: 24px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__main {
        margin-bottom: 48px;
        hr {
            color: $border-10;
            margin-bottom: 32px;
        }
    }

    &--director {
        .detours-detail__main {
            margin-bottom: 56px;
            @media(max-width: $media-lg) {
                margin-bottom: 0;
            }
            //hr {
            //    display: none;
            //}
        }
    }

    &--manager {
        .article__header-info {
            padding-bottom: 16px;
            border-bottom: 1px solid $border-10;
            @media(max-width: $media-lg) {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
        .detours-detail__main {
            margin-bottom: 48px;
            @media(max-width: $media-lg) {
                margin-bottom: 24px;
            }
            hr {
                margin-top: 48px;
                margin-bottom: 0;
            }
        }
    }
}

.detours-title-2 {
    margin-bottom: 24px;
}

.detours-review {

    &__list {
        @media (max-width: $media-lg) {
            margin-bottom: 24px;
        }

        .detours-title {
            margin-bottom: 8px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 24px 0;
        .people {
            margin-bottom: 12px;
            @media (max-width: $media-lg) {
                max-width: calc(100% - 56px);
            }
        }
        .rating {
            position: absolute;
            top: 24px;
            right: 0;
            width: 40px;
            height: 40px;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__text {
        font-size: rem(16);
        line-height: 1.5;
        padding-left: 56px;
        max-width: 640px;
        @media (max-width: $media-xl) {
            max-width: none;
        }
        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.detours--slider {
    background-color: $silver-light;
    margin-bottom: 0;
    padding: 40px 0 72px;

    .header-block {
        margin-bottom: 31px;
        h2 {
            font-size: rem(32);
            line-height: 1.25;
        }
    }
}

.detours-month {
    &__list {
        margin-bottom: 48px;
        @media (max-width: $media-md) {
            border-top: 1px solid $border-10;
            margin-bottom: 0;
        }
        .title {
            margin-bottom: 16px;
            display: block;
            font-size: 20px;
            font-weight: $font-weight-bold;
            line-height: 1.2;
            color: $text-black;
            @media (max-width: $media-md) {
                cursor: pointer;
                padding-top: 20px;
                padding-bottom: 20px;
                position: relative;
                margin-bottom: 0;

                &:after {
                    content: '';
                    position: absolute;
                    top: 20px;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    transform: rotate(90deg);
                    background-image: url('../img/icons/icon-arrow-right--dark.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: .5;
                }

                &.show {
                    &:after {
                        opacity: 1;
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @media (max-width: $media-md) {
                display: none;
                flex-wrap: wrap;
                align-items: flex-start;
                padding-right: 40px;

                &.show {
                    display: flex;
                }
            }
        }
    }

    &__item {
        margin-bottom: 16px;
        @media (max-width: $media-md) {
            margin-right: 4px;
            width: calc(33.3333% - 4px);
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__link {
        font-size: rem(16);
        line-height: 1.25;
        color: #1a1a1a;
        &:hover {
            text-decoration: none;
        }
    }
}
