.results {
    padding-top: 32px;
    padding-bottom: 48px;
    @media (max-width: $media-sm) {
        padding-top: 24px;
    }

    .employee {
        @include transition();
        display: flex;
        position: relative;
        z-index: 1;
        padding: 0 24px;
        background: $white;
        border-radius: 8px;
        margin-top: -1px;
        color: $text-black;
        @media(max-width: 820px) {
            padding: 0;
        }

        @media(min-width: 821px) {
            &:hover {
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
                z-index: 2;

                .employee-content {
                    border-top-color: transparent;
                }
            }
        }

        &:hover {
            text-decoration: none;

            .employee-info__link {
                color: $coral;
            }
        }

        &:first-child {
            .employee-content {
                border-top: none;
            }
        }

        &-content {
            @include transition();
            display: flex;
            width: 100%;
            border-top: 1px solid $border-10;
            padding: 25px 0 24px;
            @media(max-width: $media-md) {
                padding: 17px 0 20px;
            }
        }

        &-photo {
            display: block;
            width: 104px;
            @media(max-width: $media-md) {
                width: 56px;
            }

            &__inner {
                display: block;
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                border-radius: 100%;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    max-width: 100%;
                    max-height: 100%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &-info {
            width: calc(100% - 43% - 104px);
            padding-left: 16px;
            font-size: 0.875rem;
            line-height: 1.2;
            @media(max-width: $media-md) {
                width: calc(100% - 56px);

                br {
                    display: none;
                }
            }

            &__link {
                @include transition();
                display: block;
                font-size: 1.25rem;
                line-height: 1.2;
                font-weight: 700;
                color: $text-black;

                &:hover {
                    text-decoration: none;
                    color: $coral;
                }
            }

            &__position {
                margin: 12px 0 8px;
                @media(max-width: $media-md) {
                    margin: 8px 0 4px;
                }
            }

            &__area {
                color: $text-silver;
            }

            &__vacation {
                display: flex;
                align-items: flex-start;
                margin-top: 10px;
                font-size: 0.875rem;
                line-height: 1.14;
                color: $text-silver;
                &::before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    background-image: url(../img/icons/plane-icon.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            width: 43%;
            @media(max-width: $media-md) {
                display: none;
            }

            &__item {
                display: flex;
                justify-content: flex-start;
                position: relative;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                margin-top: 12px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 24px;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
                }

                &--address {
                    address {
                        &::before {
                            background-image: url(../img/icons/results-address.svg);
                        }
                    }
                }

                &--phone {
                    div {
                        &::before {
                            background-image: url(../img/icons/results-phone.svg);
                        }
                    }
                }

                &--mobile {
                    div {
                        &::before {
                            background-image: url(../img/icons/results-mobile.svg);
                        }
                    }
                }

                &--email {
                    div {
                        &::before {
                            background-image: url(../img/icons/results-email.svg);
                        }
                    }
                }

                &:first-child {
                    margin-top: 0;
                }

                address, div {
                    @include transition();
                    display: flex;
                    font-size: 0.875rem;
                    line-height: 1.14;
                    color: $text-silver;
                    margin: 0;
                    white-space: nowrap;

                    &::before {
                        content: '';
                        width: 16px;
                        min-width: 16px;
                        height: 16px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .news-item {
        @include transition();
        display: block;
        position: relative;
        z-index: 1;
        padding: 0 24px;
        background: $white;
        border-radius: 8px;
        margin-top: -1px;
        @media(max-width: 820px) {
            padding: 0;
        }


        @media(min-width: 821px) {
            &:hover {
                cursor: pointer;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
                z-index: 2;

                .news-item__content {
                    border-top-color: transparent;
                }

                .news-item__title {
                    color: $coral;
                }
            }
        }

        &__content {
            @include transition();
            width: 100%;
            border-top: 1px solid $border-10;
            padding: 25px 0 28px;
            color: $text-black;
            @media (max-width: $media-md) {
                padding: 17px 0 20px;
            }
            @media(max-width: $media-sm) {
                margin-left: -16px;
                margin-right: -16px;
                padding-left: 16px;
                padding-right: 16px;
                width: auto;
            }
        }

        &__title {
            @include transition();
            font-size: 1.25rem;
            line-height: 1.2;
            font-weight: 700;
        }

        &__description {
            font-size: 0.875rem;
            line-height: 1.14;
            margin-top: 12px;
            @media (max-width: $media-sm) {
                font-size: rem(16);
                line-height: 1.25;
            }
        }

        &__date {
            font-size: 0.875rem;
            line-height: 1.14;
            color: $text-silver;
            margin-top: 8px;
        }

        &:first-child {
            .news-item__content {
                border-top: none;
            }
        }
    }

    .media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: calc(50% - 12px);
            @media(max-width: $media-md) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                margin-top: 24px;
                &:first-child {
                    margin-top: 0;
                }
            }

            &:hover {
                text-decoration: none;

                .media-item__title {
                    color: $coral;
                }
            }

            &__preview {
                position: relative;
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
                @media(max-width: $media-md) {
                    width: calc(50% - 8px);
                }

                &::after {
                    @include transition();
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0);
                }

                &:hover {
                    &::after {
                        background: rgba(0, 0, 0, 0.2);
                    }
                }


                .inner {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        max-width: 100%;
                        max-height: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &__text {
                @media(max-width: $media-md) {
                    width: calc(50% - 8px);
                }
            }

            &__title {
                @include transition();
                font-size: 1.25rem;
                line-height: 1.2;
                font-weight: 700;
                color: $text-black;
                margin: 8px 0;
                @media(max-width: $media-md) {
                    font-size: 1rem;
                    margin: 0 0 8px 0;
                }
            }

            &__date {
                font-size: 0.875rem;
                line-height: 1.43;
                color: $text-silver;
            }

            &--video {
                &:hover {
                    .media-item__preview {
                        .inner {
                            &::after {
                                transform: translate(-50%, -50%) scale(1.1);
                            }
                        }
                    }
                }

                .media-item__preview {
                    position: relative;

                    .inner {
                        &::after {
                            @include transition();
                            content: '';
                            display: block;
                            position: absolute;
                            z-index: 2;
                            top: 50%;
                            left: 50%;
                            width: 72px;
                            height: 72px;
                            background-image: url(../img/icons/icon-play.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            transform: translate(-50%, -50%);
                            @media(max-width: $media-md) {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }

                    .time {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        font-size: 0.75rem;
                        line-height: 1.33;
                        color: $white;
                        padding: 4px 8px;
                        border-radius: 10px;
                        background: $text-black;
                        @media(max-width: $media-md) {
                            right: 8px;
                            bottom: 8px;
                        }
                    }
                }
            }
        }
    }

    .show-more {
        display: block;
        max-width: 296px;
        margin: 0 auto;

        &__row {
            margin: 48px -8px 24px;

            .btn {
                @media(max-width: 414px) {
                    width: 100%;
                    max-width: 100%;
                    padding: 18px;
                }
            }
        }
    }

    &-nav {
        display: flex;
        justify-content: center;
        position: relative;
        @media(max-width: $media-lg) {
            display: block;
        }

        &__row {
            margin: 32px -16px;
        }

        &__filters-btn {
            @include transition();
            display: none;
            border: none;
            padding: 8px 16px 8px 12px;
            background: $white;
            border-radius: 20px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
            @media (max-width: 520px) {
                display: flex;
                align-items: center;
            }

            &.active {
                .count {
                    display: block;
                }
            }

            .icon {
                width: 24px;
                height: 24px;
                background-image: url(../img/icons/results-filters.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                margin-right: 4px;
            }

            .text {
                font-size: 1rem;
                line-height: 1.25;
                color: $text-black;
            }

            .count {
                font-size: 0.875rem;
                line-height: 1.43;
                color: $coral;
                margin-left: 8px;
            }
        }

        &__selects {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media(max-width: $media-lg) {
                position: static;
                margin: -8px;
                padding: 8px;
            }
            @media(max-width: 520px) {
                display: none;
                &.mobile-show {
                    display: block;
                    position: fixed;
                    z-index: 20;
                    top: 8px;
                    left: 8px;
                    width: 100%;
                    height: 100vh;
                    padding: 0;
                    background: $white;
                }
            }

            .top {
                display: none;
                @media (max-width: 520px) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 16px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }

                &-header {
                    display: flex;
                    font-size: 1rem;
                    line-height: 1.25;
                    font-weight: 700;

                    .count {
                        color: $text-silver;
                        margin-left: 8px;
                    }
                }

                &-close {
                    width: 32px;
                    height: 32px;
                    border: none;
                    background-color: transparent;
                    background-image: url(../img/icons/icon--close-menu.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            .bottom {

                @media(max-width: 520px) {
                    height: calc(100vh - 65px);
                    padding: 32px 0;
                    overflow-y: auto;
                }

                .selects {
                    display: flex;
                    justify-content: space-between;
                    @media(max-width: $media-lg) {
                        justify-content: flex-start;
                    }
                    @media(max-width: 520px) {
                        display: block;
                    }
                }

                .buttons {
                    display: none;
                    @media (max-width: 520px) {
                        display: block;
                        width: calc(100% - 64px);
                        max-width: 350px;
                        margin: 24px auto 0;
                        .btn {
                            display: block;
                            width: 100%;
                            margin-top: 16px;

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }

        &__select {
            max-width: 204px;
            @media(max-width: $media-lg) {
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
            @media(max-width: 520px) {
                position: relative;
                width: calc(100% - 64px);
                max-width: 350px;
                margin: 16px auto 0;
                &:first-child {
                    margin-top: 0;
                    z-index: 32;
                }
                &:nth-child(2) {
                    z-index: 31;
                }
                &:last-child {
                    margin-right: auto;
                    z-index: 30;
                }
            }

            &:first-child {
                left: 0;
            }

            .mobile-title {
                display: none;
                @media(max-width: 520px) {
                    display: block;
                    position: absolute;
                    z-index: 20;
                    top: 12px;
                    left: 16px;
                    font-size: 0.8125rem;
                    line-height: 1.23;
                    color: $text-silver;
                }
            }

            .sorting-form__select {
                margin-right: 0;
                @media(max-width: 520px) {
                    width: 100% !important;
                }

                .btn {
                    max-width: 204px;
                    @media(max-width: 520px) {
                        width: 100%;
                        max-width: 100%;
                        border: 1px solid $border-10;
                        padding: 32px 52px 12px 16px;
                        border-radius: 5px;
                        box-shadow: none;
                        &:hover, &:active {
                            transform: none;
                        }
                        &::after {
                            top: 50%;
                            right: 16px;
                            transform: translateY(-50%) rotate(90deg);
                            opacity: .4;
                        }
                    }
                }

                select {
                    display: none !important;
                    pointer-events: none;
                }
            }

            .data-select {
                &__result {
                    width: 100%;
                    max-width: 100%;
                    border: 1px solid $border-10;
                    box-shadow: none;
                    text-align: left;

                    @media (max-width: 520px) {
                        padding: 32px 52px 12px 16px;
                        border-radius: 5px;
                    }

                    &:hover, &:active {
                        transform: none;
                    }

                    &::after {
                        top: 50%;
                        right: 16px;
                        transform: translateY(-50%) rotate(90deg);
                        opacity: .4;
                    }
                }

                &__clear {
                    top: 2px;
                    @media (max-width: 520px) {
                        top: 50%;
                        right: 16px;
                        transform: translateY(-50%);
                    }
                }

                &__btn {
                    @media(max-width: 520px) {
                        width: 100%;
                        max-width: 100%;
                        border: 1px solid $border-10;
                        padding: 32px 52px 12px 16px;
                        border-radius: 5px;
                        box-shadow: none;
                        text-align: left;

                        &:hover, &:active {
                            transform: none;
                        }

                        &::after {
                            top: 50%;
                            right: 16px;
                            transform: translateY(-50%) rotate(90deg);
                            opacity: .4;
                        }
                    }
                }

                &__dropdown {
                    right: 0 !important;
                    left: auto !important;
                    @media(max-width: $media-lg) {
                        right: auto !important;
                        left: 0 !important;
                    }
                    @media(max-width: 520px) {
                        width: auto;
                    }

                    .datepicker--cell-day {
                        @media (max-width: 520px) {
                            width: 14.28571%;
                            height: 32px;
                        }
                    }
                }
            }


            &--tag {
                display: none;
                @media(max-width: $media-lg) {
                    display: block;
                }
            }
        }

        &__links {
            margin: 0 220px;
            @media (max-width: $media-lg) {
                display: flex;
                padding-right: 16px;
                padding-left: 16px;
                max-width: 100vw;
                overflow: -moz-scrollbars-none;
                margin: 32px -16px 0 -16px;
                padding-left: 16px;
                overflow-x: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &-inner {
                display: flex;
                @media (max-width: $media-lg) {
                    padding-right: 16px;
                }
            }
        }

        &__link {
            @include transition();
            display: flex;
            align-items: baseline;
            padding: 5px 16px 7px;
            border-radius: 100px;
            background: $white;

            &:hover {
                text-decoration: none;
            }

            .name {
                font-size: 1rem;
                line-height: 1.25;
                color: $text-black;
            }

            .count {
                font-size: 0.875rem;
                line-height: 1.43;
                color: $text-silver;
                margin-left: 8px;
            }

            &.active {
                background: $ctrl-black;

                .name {
                    color: $white;
                }
            }
        }
    }

    &-filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 616px;
        margin: 0 auto;

        &__row {
            margin: 44px 0 26px;
            @media(max-width: $media-lg) {
                display: none;
            }
        }

        &__item {
            position: relative;
            margin: 4px 2px;
            cursor: pointer;
        }

        &__input {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 1px;
            opacity: 0;

            &:checked + .results-filters__text {
                color: $text-black;
                background: $coral-opacity;
            }
        }

        &__text {
            @include transition();
            display: block;
            padding: 4px 16px 8px;
            color: $text-silver;
            font-size: 1rem;
            line-height: 1.25;
            background: $silver-light;
            border-radius: 100px;
        }
    }

    &-section {
        margin: 32px 0 40px;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 24px;
        }

        &__title {
            font-size: 1.5rem;
            line-height: 1.33;
            font-weight: 700;
            color: $text-black;
            margin: 0;
        }

        &__all {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 1rem;
            line-height: 1.25;
            margin-left: 16px;

            &:hover {
                text-decoration: none;

                .text {
                    color: $coral;
                }

                .count {
                    color: $coral;
                }

                .arrow-path {
                    stroke: $coral;
                }
            }

            .text {
                @include transition();
                color: $text-black;
                @media (max-width: 413px) {
                    font-size: 0;
                    &::before {
                        content: attr(data-mobile-text);
                        font-size: 1rem;
                    }
                }
            }

            .count {
                @include transition();
                color: $text-silver;
                margin-left: 8px;
            }

            .arrow {
                width: 24px;
                height: 24px;
                margin-left: 2px;

                svg {
                    width: 100%;
                    height: 100%;
                }

                path {
                    @include transition();
                }
            }
        }

        &--news {
            margin-top: 40px;
        }

        &--media {
            margin-top: 64px;
        }
    }

    &--inner {
        .results-section {
            margin-top: 32px !important;
        }
    }
}