.article {
    padding-top: 32px;
    padding-bottom: 64px;


    &__header {
        align-items: center;
        text-align: center;

        &-title {
            margin-bottom: 40px;
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;

            &-item {
                margin: 0 16px 16px;
                font-size: rem(16);
                line-height: 1.25;
                color: $text-silver;

                .icon {
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    margin-right: 8px;
                }

                .btn {
                    min-width: auto;
                    padding-left: 0;
                    padding-right: 0;
                    background: none;
                    font-weight: $font-weight-normal;
                    line-height: 1.25;
                    color: $text-silver;
                }
            }
        }
    }

    &__intro {
        margin-bottom: 32px;
        font-size: rem(28);
        line-height: 1.29;
        color: $black;
    }

    &__inline {
        &-item {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 48px;
            margin-top: 24px;
        }

        &-img {
            flex-shrink: 0;
            position: relative;
            width: 40%;
            overflow: hidden;
            border-radius: 5px;

            &-inner {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 75%;
            }

            img {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: flex-start;
            width: 60%;
            padding-left: 32px;

            .text {
                display: block;
                width: 100%;
                margin-bottom: 16px;
                font-size: rem(20);
                line-height: 1.6;
            }

            .btn {
                display: inline-block;
            }
        }
    }

    &__footer {
        margin-top: 40px;
        margin-bottom: 64px;

        .tags {
            width: 100%;
            margin-bottom: 24px;
            &__row {
                justify-content: flex-start;
                max-width: none;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &-item {
                margin-right: 32px;
                font-size: rem(16);
                line-height: 1.25;
                color: $text-silver;
                display: flex;
                align-items: center;

                .icon {
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    margin-right: 8px;
                }

                .btn {
                    min-width: auto;
                    padding-left: 0;
                    padding-right: 0;
                    background: none;
                    font-weight: $font-weight-normal;
                    line-height: 1.25;
                    color: $text-silver;
                }
            }
        }
    }

    p {
        margin-bottom: 32px;
        font-size: rem(20);
        line-height: 1.6;
        letter-spacing: normal;
        color: $black;
    }
}
