.gallery {
    align-items: stretch;
    margin-bottom: 48px;
    @media (max-width: 767px) {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        margin: 0 8px 8px 0;
        border-radius: 5px;
        background-color: $silver-light;

        &-inner {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-img {
            @include object-fit(cover, center);
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &--grid {

        .gallery__item {
            width: calc(33.3333% - 8px);

            @media (max-width: 767px) {
                margin-right: 16px;
                margin-bottom: 16px;
                width: calc(50% - 8px);
                &:nth-child(3n) {
                    margin-right: 16px;
                }

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            .gallery__item-inner {
                padding-bottom: 100%;
            }
            .gallery__item-img {
                @include object-fit(cover, center);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    &--mosaic {
        @media (max-width: 767px) {
            & > .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .gallery__item {
            width: calc(66.6666% - 8px);
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 16px;
                margin-right: inherit;
            }
            @media (max-width: 767px) {
                &:nth-child(3n) {
                    margin-right: inherit;
                }

                &:nth-child(2n) {
                    margin-right: inherit;
                }
            }

            &-inner {
                padding-bottom: 49.32%;
            }

            &:nth-child(4n+2) {
                width: calc(33.3333% - 8px);
                @media (max-width: 767px) {
                    width: calc(50% - 8px);
                }
                .gallery__item-inner {
                    padding-bottom: 100%;
                }
            }
            &:nth-child(4n+3) {
                width: calc(33.3333% - 8px);
                @media (max-width: 767px) {
                    width: calc(50% - 8px);
                }
                .gallery__item-inner {
                    padding-bottom: 100%;
                }
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            &-img {
                @include object-fit(cover, center);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}