.video {
    width: 100%;

    &.no-video {
        .video__preview {
            &:after, &:before {
                display: none;
            }
        }
    }

    &__body {
        position: relative;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 55.88%;
        border-radius: 5px;
        overflow: hidden;
    }

    &__preview {
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:hover {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' viewBox='0 0 72 72'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H72V72H0z'/%3E%3Ccircle cx='36' cy='36' r='36' fill='%23f65145'/%3E%3Cpath fill='%23FFFFFF' d='M29.555 21.036l21.197 14.132c.46.306.584.927.277 1.387-.073.11-.167.204-.277.277L29.555 50.964c-.46.306-1.08.182-1.387-.278-.11-.164-.168-.357-.168-.555V21.87c0-.553.448-1 1-1 .197 0 .39.058.555.167z'/%3E%3C/g%3E%3C/svg%3E");
            }
        }

        &:before {
            @include transition();
            pointer-events: none;
            content: '';
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 72px;
            height: 72px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' viewBox='0 0 72 72'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H72V72H0z'/%3E%3Ccircle cx='36' cy='36' r='36' fill='%23FFF'/%3E%3Cpath fill='%231A1A1A' d='M29.555 21.036l21.197 14.132c.46.306.584.927.277 1.387-.073.11-.167.204-.277.277L29.555 50.964c-.46.306-1.08.182-1.387-.278-.11-.164-.168-.357-.168-.555V21.87c0-.553.448-1 1-1 .197 0 .39.058.555.167z'/%3E%3C/g%3E%3C/svg%3E");
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            pointer-events: none;
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.2);
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__time {
        display: inline-block;
        position: absolute;
        z-index: 2;
        right: 20px;
        bottom: 20px;
        padding: 2px 8px;
        font-size: rem(12);
        font-weight: $font-weight-normal;
        line-height: 1.33;
        color: $white;
        border-radius: 10px;
        background-color: $black;
    }

    &__player {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        outline: none;
    }

    &__title {
        display: block;
        margin-bottom: 8px;
        font-size: rem(16);
        font-weight: $font-weight-bold;
        line-height: 1.25;
        color: #1a1a1a;
        &:hover {
            text-decoration: none;
        }
    }

    &__author {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .avatar {
            flex: 0 0 auto;
            width: 20px;
            height: 20px;
            overflow: hidden;
            background-color: $silver;
            border-radius: 50%;
            margin-right: 8px;


            &__img {
                display: block;
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

        .name {
            flex: 1 1 auto;
            font-size: rem(14);
            line-height: 1.43;
            font-weight: $font-weight-light;
        }
    }

    &__footer {
        font-size: rem(20);
        line-height: 1.2;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .card-date {
            margin-right: 16px;
        }
        .card-view, .card-like, .card-comment {
            margin-right: 12px;
            margin-left: 0;
        }
    }
}