.card {
    @include transition();
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border: none;

    &:hover {
        text-decoration: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(-8px);

        .card-title {
            color: $coral;
        }
    }

    &--main {
        position: relative;
        height: 440px;
        border: none;
        border-radius: 5px;
        @media (max-width: 1023px) {
            height: 414px;
        }

        &:hover {
            transform: none;

            .card-img {
                transform: scale(1.05);
            }

            .card-title {
                color: $white;
            }
        }

        .card-img {
            @include transition();
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-height: none;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                box-shadow: inset 0 -50px 80px 0 rgba(0, 0, 0, 0.4);
            }

            img {
                @include object-fit(cover, center);
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .card-body {
            position: relative;
            z-index: 2;
            border: none;
            @media (max-width: 1023px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .card-tags {

            .badge {
                color: $white;
                border-color: $white;

                &__count {
                    color: $text-silver;
                    display: inline-block;
                    margin-left: 8px;
                }

                &--gallery {
                    padding-left: 28px;
                    background-color: $silver-dark;
                    border-color: $silver-dark;
                    color: $dark;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 7px;
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/icons/icon--badge-gellary.svg');
                    }
                }

                &--video {
                    padding-left: 28px;
                    background-color: $silver-dark;
                    border-color: $silver-dark;
                    color: $dark;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 7px;
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/icons/icon--badge-video.svg');
                    }
                }
            }
        }

        .card-title {
            width: 66%;
            margin-bottom: 8px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            font-size: rem(40);
            font-weight: $font-weight-bold;
            line-height: 1.2;
            color: $white;
            @media (max-width: 1023px) {
                width: 100%;
                font-size: rem(20);
                line-height: 1.2;
            }
        }

        .card-text {
            width: 66%;
            font-size: rem(28);
            line-height: 1.29;
            color: $white;
            @media (max-width: 1023px) {
                display: none;
            }
        }

        .card-footer {
            position: relative;
            z-index: 2;
            border: none;

            .card-date, .card-like, .card-comment {
                color: $white;
            }
        }
    }

    &--big {
        .card-img {
            max-height: 350px;
            @media(max-width: 1023px) {
                max-height: 200px;
            }
        }
    }

    &--image {
        position: relative;
        border: none;
        border-radius: 5px;
        @media(max-width: 1023px) {
            height: 414px;
        }

        .card-img {
            @include transition();
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-height: none;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                height: 80px;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
            }

            img {
                @include object-fit(cover, center);
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .card-body {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            position: relative;
            z-index: 2;
            border: none;
        }

        .card-tags {

            .badge {
                color: $white;
                border-color: rgba(255, 255, 255, 0.5);
                &__count {
                    color: $text-silver;
                    display: inline-block;
                    margin-left: 8px;
                }

                &--gallery {
                    padding-left: 28px;
                    background-color: $silver-dark;
                    border-color: $silver-dark;
                    color: $dark;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 7px;
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/icons/icon--badge-gellary.svg');
                    }
                }

                &--video {
                    padding-left: 28px;
                    background-color: $silver-dark;
                    border-color: $silver-dark;
                    color: $dark;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 7px;
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/icons/icon--badge-video.svg');
                    }
                }
            }
        }
        .card-title {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            color: $white;
            margin-top: auto;
        }

        .card-footer {
            justify-content: flex-start;
            position: relative;
            z-index: 2;
            border: none;


            .card-like {
                margin-left: 18px;
            }

            .card-date, .card-like, .card-comment {
                color: $white;
            }
        }

        &.card--big {
            height: 544px;
            @media(max-width: 1023px) {
                height: 414px;

                .card-img {
                    max-height: none;
                }
            }

            .card-title {
                font-size: rem(32);
                line-height: 1.25;
                @media(max-width: 1023px) {
                    font-size: rem(20);
                    line-height: 1.2;
                }
            }
        }
    }

    &-img {
        display: block;
        max-height: 200px;
        overflow: hidden;
        background-color: $silver;
        border-radius: 0;
        @media(max-width: 1279px) {
            max-height: 168px;
        }
        @media(max-width: 1023px) {
            flex-basis: auto;
            max-height: 200px;
        }

        img {
            @include object-fit(cover, center);
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &-body {
        padding: 20px 20px 0;
        border-left: 1px solid $border-10;
        border-right: 1px solid $border-10;
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        .badge {
            position: relative;
            margin: 0 8px 8px 0;
            border: 1px solid $silver;
            padding: 2px 8px;
            font-size: rem(12);
            font-weight: $font-weight-normal;
            line-height: 1.33;
            color: $text-silver;
            border-radius: 10px;

            &__count {
                color: $text-silver;
                display: inline-block;
                margin-left: 8px;
            }

            &--gallery {
                padding-left: 28px;
                background-color: $silver-dark;
                border-color: $silver-dark;
                color: $dark;
                &:before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 7px;
                    width: 16px;
                    height: 16px;
                    background-image: url('../img/icons/icon--badge-gellary.svg');
                }
            }

            &--video {
                padding-left: 28px;
                background-color: $silver-dark;
                border-color: $silver-dark;
                color: $dark;
                &:before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 7px;
                    width: 16px;
                    height: 16px;
                    background-image: url('../img/icons/icon--badge-video.svg');
                }
            }
        }
    }

    &-title {
        @include transition();
        font-size: rem(20);
        font-weight: $font-weight-bold;
        line-height: 1.2;
        letter-spacing: normal;
        color: $text-black;
        margin-bottom: 0;
    }

    &-text {

    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: none;
        padding: 16px 20px 20px;
        background-color: transparent;
        border-left: 1px solid $border-10;
        border-right: 1px solid $border-10;
        border-bottom: 1px solid $border-10;
        border-radius: 0 0 5px 5px !important;
        @media(max-width: 1279px) {
            padding-bottom: 16px;
        }
    }

    &-date {
        font-size: rem(14);
        line-height: 1.43;
        color: $text-silver;
    }

    &-like {
        margin-right: 12px;
        margin-left: auto;
        font-size: rem(14);
        line-height: 1.43;
        color: $text-silver;

        .icon {
            vertical-align: middle;
            margin-right: 4px;
        }
    }

    &-comment {
        font-size: rem(14);
        line-height: 1.43;
        color: $text-silver;

        .icon {
            vertical-align: middle;
            margin-right: 4px;
        }
    }

    &-view {
        font-size: rem(14);
        line-height: 1.43;
        color: $text-silver;

        .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
        }
    }
}

.detours-card {
    @include transition();
    display: flex;
    flex-direction: column;
    max-width: 256px;
    //height: 100%;
    min-height: 297px;
    border: solid 1px $border-10;
    padding: 17px 18px 20px;
    border-radius: 5px;
    background-color: $white;
    @media(max-width: 1023px) {
        width: 180px;
    }

    &:hover {
        transform: translateY(-8px);
        text-decoration: none;
    }

    &__header {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        margin-bottom: 24px;
    }

    &__body {
        flex: 1 1 auto;
    }
    &__mark {
        display: flex;
        align-self: center;
        justify-content: flex-start;
        width: 96px;
        height: 16px;
        padding: 8px 8px 17px;
        margin-bottom: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='48' viewBox='0 0 96 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23909099' stroke='%23909099' stroke-width='2' d='M7.893 39.015L17.053 31H80c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15H16C7.716 1 1 7.716 1 16c0 5.901 3.439 11.178 8.7 13.617l.776.36-2.583 9.038z'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: top left;
        background-repeat: no-repeat;

        &--danger {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='48' viewBox='0 0 96 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23f65145' stroke='%23f65145' stroke-width='2' d='M7.893 39.015L17.053 31H80c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15H16C7.716 1 1 7.716 1 16c0 5.901 3.439 11.178 8.7 13.617l.776.36-2.583 9.038z'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        &--success {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='48' viewBox='0 0 96 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%2322d66a' stroke='%2322d66a' stroke-width='2' d='M7.893 39.015L17.053 31H80c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15H16C7.716 1 1 7.716 1 16c0 5.901 3.439 11.178 8.7 13.617l.776.36-2.583 9.038z'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        &-item {
            width: 16px;
            height: 16px;
        }
    }
    &__title {
        font-size: rem(20);
        font-weight: $font-weight-bold;
        line-height: 1.2;
        color: $black;
    }

    &__footer {
        flex: 0 0 auto;
        margin-bottom: 0;
        margin-top: auto;
    }
}


.articles-card {
    @include transition();
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 352px;
    height: 100%;
    min-height: 200px;
    border: solid 1px $border-10;
    padding: 16px 20px 20px;
    border-radius: 5px;
    background-color: $white;
    @media(max-width: 1023px) {
        width: 256px;
    }

    &:hover {
        text-decoration: none;
        .articles-card__title {
            color: $coral;
        }
    }

    &__header {
        flex: 0 0 auto;
        margin-bottom: 8px;
    }

    &__body {
        flex: 1 1 auto;
        margin-bottom: 20px;
    }

    &__title {
        @include transition();
        margin-bottom: 0;
        font-size: rem(20);
        font-weight: $font-weight-bold;
        line-height: 1.2;
        color: $black;
    }

    &__footer {
        flex: 0 0 auto;
        margin-bottom: 0;
        margin-top: auto;
    }

    &__source {
        font-size: rem(14);
        line-height: 1.43;
        color: $text-silver;
    }
}