.thumbs-slider {
    position: relative;
    margin-bottom: 32px;

    &:hover {

        .swiper-button-prev {
            left: 16px;
            pointer-events: all;
            @media (max-width: 1023px) {
                opacity: 1;
            }
        }

        .swiper-button-next {
            right: 16px;
            pointer-events: all;
            @media (max-width: 1023px) {
                opacity: 1;
            }
        }

        .thumbs-slider__main {
            .swiper-slide {
                &::before {
                    opacity: 1;
                }
            }
        }

        .thumbs-slider__nav {
            opacity: 1;
            @media (max-width: 767px) {
                opacity: 0;
                pointer-events: none;
            }
        }

        .thumbs-slider__zoom {
            top: 24px;
            opacity: 1;
            @media (max-width: 767px) {
                top: 12px;
            }
        }
    }

    .swiper-button {
        @include transition();
        top: inherit;
        transform: none;
        pointer-events: none;

        &-prev {
            left: -80px;
            @media (max-width: 1023px) {
                opacity: 0;
                left: 0;
            }
        }
        &-next {
            right: -80px;
            @media (max-width: 1023px) {
                opacity: 0;
                right: 0;
            }
        }
    }

    .swiper-pagination {
        position: absolute;
        z-index: 3;
        top: 16px;
        left: 16px;
        width: 48px;
        height: 48px;
        margin: 0;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(26, 26, 26, 0.6);
        border-radius: 50%;
        color: $white;
        font-size: rem(14);
        line-height: 1.43;
        text-align: center;
        @media (max-width: 767px) {
            top: 12px;
        }
    }

    &__main {
        position: relative;

        .swiper-slide {
            @include transition();
            position: relative;
            width: 100%;
            height: auto;

            &::before {
                @include transition();
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                left: 0;
                height: 80px;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
                opacity: 0;
            }
        }

        &-img {
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 66.3%;
            overflow: hidden;
            border-radius: 5px;
            background-color: $silver-dark;

            img {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__nav {
        @include transition();
        position: absolute;
        z-index: 3;
        top: 100%;
        right: 8px;
        bottom: auto;
        left: 8px;
        opacity: 0;
        transition-property: opacity;
        transition-delay: .2s;

        .swiper-wrapper {
            height: auto;
        }

        .swiper-slide {
            @include transition();
            height: auto;
            padding-bottom: 0;
            cursor: pointer;
            &::before {
                content: none;
            }


            &-thumb-active {
                position: relative;
                &::before {
                    content: '';
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    max-height: 100%;
                    border: solid 2px $white;
                    background: none;
                }
            }
        }

        &-img {
            display: block;
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-bottom: 66.3%;
            background-color: $text-silver;
            
            img {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__zoom {
        @include transition();
        position: absolute;
        z-index: 4;
        top: -32px;
        right: 24px;
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        background-image: url('../img/icons/icon__zoom.svg');
        opacity: 0;
    }

    &__description {
        box-sizing: border-box;
        width: 100%;
        padding-top: 8px;

        .title {
            width: 70%;
            margin-bottom: 8px;
            font-size: rem(16);
            font-weight: $font-weight-bold;
            line-height: 1.5;
        }

        .text {
            width: 70%;
            font-size: rem(14);
            line-height: 1.43;
        }
    }

    &--border {

        .thumbs-slider__main-img {
            border-radius: 5px 5px 0 0;
        }

        .thumbs-slider__description {
            border: solid 1px $border-10;
            padding: 12px 0 12px 20px;
            border-radius: 0 0 5px 5px;
        }
    }
}