.practices__widget {
    position: relative;
    padding: 12px 20px 28px;
    border-radius: 5px;
    background-color: #3d3d4d;
    margin-bottom: 48px;
    @media (max-width: $media-lg) {
        padding: 20px;
        margin-bottom: 40px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 28px;
        right: 28px;
        width: 120px;
        height: 120px;
        background-image: url(../img/practices__widget-bg.svg);
        background-repeat: no-repeat;
        background-position: center center;
        @media (max-width: $media-lg) {
            display: none;
        }
    }
    .btn {
        margin-top: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        @media (max-width: $media-lg) {
            margin-bottom: 16px;
        }
        @media (max-width: $media-md) {
            margin-bottom: 0;
            margin-top: 8px;
        }
    }

    &-header {
        width: percentage(10/12);
        @media (max-width: $media-lg) {
            width: 100%;
        }
        h3 {
            font-size: rem(24);
            font-weight: $font-weight-bold;
            line-height: 1.33;
            color: $white;
            margin-bottom: 4px;
            @media (max-width: $media-xl) {
                font-size: rem(20);
                line-height: 1.2;
            }
            @media (max-width: $media-lg) {
                font-size: rem(16);
                line-height: 1.25;
                margin-bottom: 8px;
            }
        }
        h4 {
            font-size: rem(24);
            font-weight: $font-weight-bold;
            line-height: 1.33;
            color: $text-silver;
            @media (max-width: $media-xl) {
                font-size: rem(20);
                line-height: 1.2;
            }
            @media (max-width: $media-lg) {
                font-size: rem(16);
                line-height: 1.25;
            }
        }
    }
}

.practices {

    .main-header {
        @media (max-width: $media-lg) {
            margin-bottom: 32px;
            h1 {
                font-size: rem(32);
                line-height: 1.25;
            }
        }
    }

    .header-block {
        @media (max-width: $media-lg) {
            margin-bottom: 24px;
        }
        h2 {
            font-size: rem(24);
            line-height: 1.33;
        }
    }
    .card {
        margin-bottom: 48px;

        @media (max-width: $media-lg) {
            transform: translate(0, 0);
            box-shadow: none;
        }
        @media (max-width: $media-lg) {
            margin-bottom: 24px;

            &-img {
                width: 100%;
                max-height: none;
                border-radius: 0 0 5px 5px;
                img {
                    @include object-fit(contain, center);
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            &-body {
                border: none;
                padding: 8px 0 0;
                margin-bottom: 4px;


                .card-title {
                    font-size: rem(16);
                    line-height: 1.25;
                }
            }
            &-footer {
                border: none;
                padding: 0 0;
            }
        }
    }
}

.practices-gallery {
    .thumbs-slider__nav {
        .swiper-slide {
            &.status-success {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    border-radius: 100%;
                    width: 10px;
                    display: block;
                    height: 10px;
                    background-color: $success;
                    z-index: 99;
                }
            }

            &.status-warning {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                    background-color: $coral;
                    z-index: 99;
                }
            }
        }
    }

     .thumbs-slider__main {
         .swiper-slide {
             .text{
                 display: flex;
                 align-items: center;
                 flex-wrap: wrap;
                 padding-top: 8px;
             }
             .people {
                 display: flex;
                 align-items: flex-start;
                 justify-content: flex-start;
                 margin-right: 16px;
                 &:hover {
                     text-decoration: none;
                 }

                 .avatar{
                     flex: 0 0 auto;
                     width: 20px;
                     height: 20px;
                     overflow: hidden;
                     background-color: #e6e6eb;
                     border-radius: 50%;
                     margin-right: 8px;
                     img {
                         object-fit: cover;
                         object-position: center;
                         display: block;
                         width: 100%;
                         height: 100%;
                     }
                 }
                 .name{
                     flex: 1 1 auto;
                     font-size: 0.875rem;
                     line-height: 1.43;
                     font-weight: 400;
                     color: $text-black;
                 }
             }

             .status-success {
                 position: absolute;
                 left: 16px;
                 max-width: 78.3%;
                 padding: 16px 20px 16px 40px;
                 background-color: fade_out($success, .1);
                 border-radius: 24px;
                 -webkit-backdrop-filter: blur(5px);
                 backdrop-filter: blur(5px);
                 font-size: rem(14);
                 font-weight: normal;
                 line-height: 1.14;
                 color: $white;
                 z-index: 99;
                 &:before {
                     content: '';
                     position: absolute;
                     left: 16px;
                     top: 16px;
                     width: 16px;
                     height: 16px;
                     background-image: url(../img/icons/kindsmile.svg);
                     background-position: center;
                     background-repeat: no-repeat;
                     background-size: contain;
                 }
             }
             .status-warning{
                 position: absolute;
                 left: 16px;
                 max-width: 78.3%;
                 padding: 16px 20px 16px 40px;
                 background-color: fade_out($coral, .1);
                 border-radius: 24px;
                 -webkit-backdrop-filter: blur(5px);
                 backdrop-filter: blur(5px);
                 font-size: rem(14);
                 font-weight: normal;
                 line-height: 1.14;
                 color: $white;
                 z-index: 99;
                 &:before {
                     content: '';
                     position: absolute;
                     left: 16px;
                     top: 16px;
                     width: 16px;
                     height: 16px;
                     background-image: url(../img/icons/sadsmile.svg);
                     background-position: center;
                     background-repeat: no-repeat;
                     background-size: contain;
                 }
             }
         }
     }
}