.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: flex-start;
    padding: rem(24) 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    list-style: none;

    &--pc{
        @media (max-width: $media-lg){
            display: none;
        }
    }
    &--mob{
        display: block;
        padding: 20px 0;
        @media (min-width: $media-lg--min){
            display: none;
        }
    }


    &-item {
        margin-right: rem(42);
        position: relative;
        color: $text-silver;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -33px;
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/icon-breadcrumbs.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        a {
            color: $text-silver;
        }

        &:last-child {
            &:before {
                display: none;
            }
        }
    }


    &-prev {
        font-size: rem(16);
        line-height: 1.25;
        color: $text-silver;
        padding-left: 24px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            background-image: url(../img/icon--breadcrumb-mob.svg);
            background-position: center;
            background-size: contain;
        }
    }
}