.floating-bar{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 16px 0 20px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	border-bottom: 1px solid $border-10;
	z-index: 100;
	display: none;


	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&:first-child {
			margin-right: 32px;
		}

		.title {
			margin-right: 9px;
			font-size: rem(14);
			line-height: 1.43;
			color: $text-silver;
		}

		.people{
			display: flex;
			align-items: center;
			&:hover {
				text-decoration: none;
				.name {
					color: $coral;
				}
			}

			.avatar {
				width: 20px;
				height: 20px;
				display: block;
				border-radius: 100%;
				overflow: hidden;
				margin-right: 8px;
				img {
					display: block;
					width: 100%;
				}
			}

			.name {
				font-size: rem(14);
				line-height: 1.43;
				color: $text-black;
			}
		}

		.union {
			font-size: rem(14);
			line-height: 1.43;
			color: $text-silver;
			margin: 0 8px;
		}
	}
}