.footer {
    flex: 0 0 auto;
    border-top: 1px solid $border-10;
    padding: 20px 0 32px;
    background-color: $white;


    .col-12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 767px) {
            justify-content: center;
        }
    }

    &__left, &__right {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__left {
        @media (max-width: 767px) {
            margin-bottom: 24px;
        }
        .footer__link {

            &:last-child {
                a {
                    color: $text-silver;
                }
            }
        }
    }

    &__right {
        .footer__link {
            a {
                color: $text-silver;
            }
        }
    }

    &__link {

        margin-right: 32px;
        @media (max-width: 767px) {
            margin-right: 24px;
        }
        @media (max-width: 414px){
            margin-right: 16px;
        }
        &:last-child {
            margin-right: 0;
        }

        a {
            font-size: rem(16);
            line-height: 1.25;
            color: $black;
        }
    }
}