.unknown {
    position: relative;
    width: 100%;
    margin: 64px 0 32px;
    @media (max-width: $media-lg) {
        margin-bottom: 16px;
    }

    .swiper {

        &-wrapper {
            align-items: stretch;
        }
        &-slide {
            width: auto;
            max-width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 5px;

            .video__preview {
                display: block !important;
                position: relative;
            }
        }

        &-button {
            &-prev {
                left: -24px;
            }

            &-next {
                right: -24px;
            }
        }
    }

    &-slider {
        width: 100%;
    }

    &-modal {
        .modal-content {
            .thumbs-slider {
                background: $text-black;

                .swiper-button {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &__main {

                    & > .swiper-wrapper {
                        .swiper-slide {
                            margin-bottom: 82px;
                            @media (max-width: $media-sm) {
                                margin-bottom: 0;
                            }
                            .video {
                                margin-bottom: 0;
                                &__body {
                                    margin-bottom: 0;
                                }
                                &__preview {
                                    box-sizing: border-box;
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    width: 100%;
                                    overflow: hidden;
                                    padding-bottom: 66.3%;
                                    background-color: $text-silver;
                                    img {
                                        @include object-fit(cover, center);
                                        display: block;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: 100%;
                                        height: 100%;
                                        margin: auto;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }

                            img {
                                @include object-fit(contain, center);
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                &__nav {
                    top: auto;
                    bottom: 0;

                    .swiper-slide {
                        &:before {
                            z-index: 22;
                        }

                        .video__preview {
                            display: block !important;

                            &:before {
                                width: 40px;
                                height: 40px;
                            }
                        }
                        img {
                            @include object-fit(cover, center);
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .swiper {
            &-slide {
                width: auto;
                max-width: 100%;

                picture {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 66.3%;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        max-width: 100%;
                        max-height: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
                & > picture {
                    @media (max-width: $media-sm) {
                        margin-bottom: 0;
                        margin-top: 64px;
                    }
                }
            }
        }
    }
}