.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    &--like-white {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath stroke='%23ffffff' d='M7.543 3.275c-.075.255-.133.446-.191.634-.549 1.752-1.114 2.82-2.061 3.498l-.13.093H4c-.828 0-1.5.672-1.5 1.5v3c0 .828.672 1.5 1.5 1.5h7.396c.703 0 1.311-.488 1.464-1.175l1.111-5c.024-.106.036-.216.036-.325 0-.828-.672-1.5-1.5-1.5H9.76l.275-.686C11.258 1.76 10.88.5 9 .5c-.461 0-.8.57-1.277 2.166l-.18.61z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--like-white-chek {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath stroke='%23ffffff' fill='%23ffffff' d='M7.543 3.275c-.075.255-.133.446-.191.634-.549 1.752-1.114 2.82-2.061 3.498l-.13.093H4c-.828 0-1.5.672-1.5 1.5v3c0 .828.672 1.5 1.5 1.5h7.396c.703 0 1.311-.488 1.464-1.175l1.111-5c.024-.106.036-.216.036-.325 0-.828-.672-1.5-1.5-1.5H9.76l.275-.686C11.258 1.76 10.88.5 9 .5c-.461 0-.8.57-1.277 2.166l-.18.61z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--like-gray {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath stroke='%23909099' d='M7.543 3.275c-.075.255-.133.446-.191.634-.549 1.752-1.114 2.82-2.061 3.498l-.13.093H4c-.828 0-1.5.672-1.5 1.5v3c0 .828.672 1.5 1.5 1.5h7.396c.703 0 1.311-.488 1.464-1.175l1.111-5c.024-.106.036-.216.036-.325 0-.828-.672-1.5-1.5-1.5H9.76l.275-.686C11.258 1.76 10.88.5 9 .5c-.461 0-.8.57-1.277 2.166l-.18.61z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--like-gray-check {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath stroke='%23909099' fill='%23909099' d='M7.543 3.275c-.075.255-.133.446-.191.634-.549 1.752-1.114 2.82-2.061 3.498l-.13.093H4c-.828 0-1.5.672-1.5 1.5v3c0 .828.672 1.5 1.5 1.5h7.396c.703 0 1.311-.488 1.464-1.175l1.111-5c.024-.106.036-.216.036-.325 0-.828-.672-1.5-1.5-1.5H9.76l.275-.686C11.258 1.76 10.88.5 9 .5c-.461 0-.8.57-1.277 2.166l-.18.61z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--dislike-gray {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H24V24H0z' transform='rotate(180 12 12)'/%3E%3Cpath stroke='%23909099' stroke-width='1.6' d='M18.2 12.2h-2.773c-3.117 2.006-3.465 9.1-5.23 9.1-1.919 0-2.006-2.333-.262-7H7.138c-1.657 0-3-1.343-3-3 0-.27.036-.537.107-.796l.964-3.5C5.567 5.702 6.75 4.8 8.1 4.8H18.2c1.105 0 2 .895 2 2v3.4c0 1.105-.895 2-2 2z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--dislike-gray-check {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H24V24H0z' transform='rotate(180 12 12)'/%3E%3Cpath stroke='%23909099' fill='%23909099' stroke-width='1.6' d='M18.2 12.2h-2.773c-3.117 2.006-3.465 9.1-5.23 9.1-1.919 0-2.006-2.333-.262-7H7.138c-1.657 0-3-1.343-3-3 0-.27.036-.537.107-.796l.964-3.5C5.567 5.702 6.75 4.8 8.1 4.8H18.2c1.105 0 2 .895 2 2v3.4c0 1.105-.895 2-2 2z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--comment-gray {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath stroke='%23909099' d='M8 1C4.686 1 2 3.686 2 7c0 1.167.333 2.256.91 3.178L1 14l3.822-1.91c.922.577 2.01.91 3.178.91 3.314 0 6-2.686 6-6s-2.686-6-6-6z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--comment-white {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath stroke='%23ffffff' d='M8 1C4.686 1 2 3.686 2 7c0 1.167.333 2.256.91 3.178L1 14l3.822-1.91c.922.577 2.01.91 3.178.91 3.314 0 6-2.686 6-6s-2.686-6-6-6z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--star-check {
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath fill='%23FFF' d='M8 11.54L3.298 14.972 5.109 9.439 0.392 6.028 6.213 6.041 8 0.5 9.787 6.041 15.608 6.028 10.891 9.439 12.702 14.972z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--star-uncheck {
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H16V16H0z'/%3E%3Cpath fill='%23000' fill-opacity='.2' d='M8 11.54L3.298 14.972 5.109 9.439 0.392 6.028 6.213 6.041 8 0.5 9.787 6.041 15.608 6.028 10.891 9.439 12.702 14.972z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--upload-file {
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('data:image/svg+xml,%0A%3Csvg width=\'16px\' height=\'16px\' viewBox=\'0 0 16 16\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'%3E%3Cg id=\'Page-1\' stroke=\'none\' stroke-width=\'1\' fill=\'none\' fill-rule=\'evenodd\'%3E%3Cg id=\'desktop-default-article1-1280\' transform=\'translate(-270.000000, -7972.000000)\'%3E%3Cg id=\'Group-19\' transform=\'translate(176.000000, 7356.000000)\'%3E%3Cg id=\'Group-4\' transform=\'translate(94.000000, 616.000000)\'%3E%3Cg id=\'Group-6\'%3E%3Cg id=\'Group-5\'%3E%3Cg id=\'icon/S/Doc\'%3E%3Cg id=\'Group-2\'%3E%3Cg id=\'Group\'%3E%3Crect id=\'Rectangle\' x=\'0\' y=\'0\' width=\'16\' height=\'16\'%3E%3C/rect%3E%3Cpath d=\'M5,1 L10.5857864,1 C10.8510029,1 11.1053568,1.10535684 11.2928932,1.29289322 L13.7071068,3.70710678 C13.8946432,3.89464316 14,4.14899707 14,4.41421356 L14,14 C14,14.5522847 13.5522847,15 13,15 L5,15 C4.44771525,15 4,14.5522847 4,14 L4,2 C4,1.44771525 4.44771525,1 5,1 Z\' id=\'Rectangle\' stroke=\'%231A1A1A\' stroke-width=\'2\'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--screp {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url('data:image/svg+xml,%0A%3Csvg width=\'24px\' height=\'24px\' viewBox=\'0 0 24 24\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'%3E%3Cg id=\'Page-1\' stroke=\'none\' stroke-width=\'1\' fill=\'none\' fill-rule=\'evenodd\'%3E%3Cg id=\'desktop-default-article1-1280\' transform=\'translate(-392.000000, -7880.000000)\'%3E%3Cg id=\'Group-19\' transform=\'translate(176.000000, 7356.000000)\'%3E%3Cg id=\'Group-20\' transform=\'translate(204.000000, 512.000000)\'%3E%3Cg id=\'Buttons/Light/Icon-left\'%3E%3Cg id=\'Group-2\' transform=\'translate(12.000000, 4.000000)\'%3E%3Cg id=\'Group\' transform=\'translate(0.000000, 8.000000)\'%3E%3Cg id=\'icon/M/upload/attach\'%3E%3Cg id=\'icon\'%3E%3Cg id=\'Group\'%3E%3Crect id=\'Rectangle\' x=\'0\' y=\'0\' width=\'24\' height=\'24\'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3Cpath d=\'M9.37867966,18.1568542 L9.37867966,8.96446609 C9.37867966,7.79289322 10.3284271,6.84314575 11.5,6.84314575 C12.6715729,6.84314575 13.6213203,7.79289322 13.6213203,8.96446609 L13.6213203,19.2175144 C13.6213203,21.365398 11.8801167,23.1066017 9.73223305,23.1066017 C7.58434944,23.1066017 5.84314575,21.365398 5.84314575,19.2175144 L5.84314575,7.55025253 C5.84314575,4.4260582 8.37580567,1.89339828 11.5,1.89339828 C14.6241943,1.89339828 17.1568542,4.4260582 17.1568542,7.55025253 L17.1568542,18.863961 L17.1568542,18.863961\' id=\'Path\' stroke=\'%231A1A1A\' stroke-width=\'1.7\' stroke-linecap=\'round\' stroke-linejoin=\'round\' transform=\'translate(11.500000, 12.500000) rotate(-135.000000) translate(-11.500000, -12.500000) \'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--view-gray {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd' transform='rotate(180 12 12)'%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cpath stroke='%23909099' stroke-width='1.6' d='M3.357 12c1.372 3.398 4.778 5.7 8.643 5.7 3.865 0 7.272-2.303 8.643-5.7C19.271 8.602 15.865 6.3 12 6.3c-3.865 0-7.272 2.303-8.643 5.7z'/%3E%3Ccircle cx='12' cy='12' r='2.2' stroke='%23909099' stroke-width='1.6'/%3E%3C/g%3E%3C/svg%3E");
        display: block;
        width: 16px;
        height: 16px;
    }

    &--share-gray {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H24V24H0z' transform='rotate(180 12 12)'/%3E%3Ccircle cx='6' cy='12' r='2.2' stroke='%23909099' stroke-width='1.6'/%3E%3Ccircle cx='16' cy='6' r='2.2' stroke='%23909099' stroke-width='1.6'/%3E%3Cpath stroke='%23909099' stroke-width='1.6' d='M14 7.25L7.999 10.75M14 16.75L8 13.25'/%3E%3Ccircle cx='16' cy='18' r='2.2' stroke='%23909099' stroke-width='1.6'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--message-submit {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cpath fill='%23909099' d='M4 4L22 12 4 20 6 14 12 12 6 10z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--more-answer {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cg%3E%3Cpath stroke='%231A1A1A' stroke-width='1.8' d='M.5 0c-.244 8.133 3.074 12.2 9.954 12.2' transform='translate(6 4)'/%3E%3Cpath fill='%231A1A1A' d='M10 8L10 16 14 12z' transform='translate(6 4)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--close-gray {
        background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='desktop-header-menu-1280' transform='translate(-317.000000, -24.000000)'%3E%3Cg id='Group-4'%3E%3Cg id='Group-3'%3E%3Cg id='Group-Copy' transform='translate(317.000000, 24.000000)'%3E%3Cg id='icon/M/delet/ative'%3E%3Cg id='icon'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cpolyline id='Path' stroke='%23909099' stroke-width='1.8' points='18 18 12 12 6 6'%3E%3C/polyline%3E%3Cpolyline id='Path' stroke='%23909099' stroke-width='1.8' points='18 6 12 12 6 18'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}